{% extends 'ogc-base.html.twig' %}

{% block body %}
    <div class="col-12">
        <div class="card card-lightblue card-outline">
            <div class="card-header">
                <div class="float-left">
                    <h4> OGC API Features </h4>
                </div>
                <div class="float-right">
                    <a href="{{ url('openapi') }}" target="_blank">OpenAPI docs</a> |
                    <a href="{{ url('api_collections_conformance_collection') }}" target="_blank"> Conformance </a>
                </div>
            </div>
            <div class="card-body">
                <h4>Feature Collections</h4>

                {% for collection in data %}
                    <ul>
                        <li>
                            <a href="{{ collection.links.0.href|replace({'.json':'.html'}) }}" target="_blank">{{ collection.title }}</a>
                            &nbsp;&nbsp;
                            <a class='json-link' href="{{ collection.links.0.href|replace({'.html':'.json'}) }}" target="_blank"> JSON </a>
                            <br>
                            {% if collection.description is empty %}
                                <a><b>Data for table : </b> {{ collection.title }}</a>
                            {% else %}
                                <a>{{ collection.description }}</a>
                            {% endif %}
                        </li>
                    </ul>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}