{% extends 'ogc-base.html.twig' %}

{% block body %}
    <div class="col-12">
        <div class="card card-lightblue card-outline">
            <div class="card-header">
                <div class="float-left">
                    <h4> OGC API Features </h4>
                </div>
                <div class="float-right">
                    <a href="{{ url('openapi') }}" target="_blank">OpenAPI docs</a> |
                    <a href="{{ url('api_collections_conformance_collection') }}" target="_blank"> Conformance </a>
                </div>
            </div>
            <div class="card-body">
                <h4>Feature Collection : {{ data.title }}</h4>
                <h5>Metadata</h5>
                <table cellspacing="4px">
                    <tbody>
                        <tr>
                            <td class="column"><b>ID column</b></td>
                            <td>gid</td>
                        </tr>
                        <tr>
                            <td class="column"><b>Geometry column</b></td>
                            <td>the_geom</td>
                        </tr>
                        <tr>
                            <td class="column"><b>Allowed crs</b></td>
                            <td class="column">
                            {% for link_crs in data.crs %}
                                <a href="{{ link_crs }}" target="_blank">{{ link_crs }}</a><br>
                            {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <td class="column"><b>Items</b></td>
                            <td class="column">
                                <a href="{{ data.links[1]["href"] }}" target="_blank">{{ data.links[1]["title"] }}</a><br>
                                <a href="{{ data.links[2]["href"] }}" target="_blank">{{ data.links[2]["title"] }}</a><br>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}