{% extends 'ogc-base.html.twig' %}

{% block body %}
    <div class="col-12">
        <div class="card card-lightblue card-outline">
            <div class="card-header">
                <div class="float-left">
                    <h4> OGC API Features </h4>
                </div>
                <div class="float-right">
                    <a href="{{ url('openapi') }}" target="_blank">OpenAPI docs</a> |
                    <a href="{{ url('api_collections_conformance_collection') }}" target="_blank"> Conformance </a>
                </div>
            </div>
            <div class="card-body">
                <h4>Conformance <a href="{{ url('api_collections_conformance_collection') }}.json" target="_blank">
                        <img class="json-img" src="{{ asset('img/json-file.png') }}"></a>
                </h4>
                {% if data.conformsTo is defined %}
                    {% for key, value in data.conformsTo %}
                        <ul>
                            <li><a href="{{ value }}" target="_blank">{{ value }}</a></li>
                        </ul>
                    {% endfor %}
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}