{% extends 'ogc-base.html.twig' %}

{% block body %}
    <div class="col-12">
        <div class="card card-lightblue card-outline">
            <div class="card-header">
                <div class="float-left">
                    <h4> OGC API Features </h4>
                </div>
                <div class="float-right">
                    <a href="{{ url('openapi') }}" target="_blank">OpenAPI docs</a> |
                    <a href="{{ url('api_collections_conformance_collection') }}" target="_blank"> Conformance </a>
                </div>
            </div>
            <div class="card-body">
                <h4>{{ data.title }} <a href="{{ url('api_collections_landingpage_collection') }}.json" target="_blank">
                        <img class="json-img" src="{{ asset('img/json-file.png') }}"></a></h4>
                {{ data.description }}

                {% for link in data.links %}
                    <ul>
                        <li><a href="{{ link.href }}" target="_blank">{{ link.title }}</a></li>
                    </ul>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}