{% extends 'ogc-base.html.twig' %}

{% block body %}
    <div class="col-12">
        <div class="card card-lightblue card-outline">
            <div class="card-header">
                <div class="float-left">
                    <h4> OGC API Features </h4>
                </div>
                <div class="float-right">
                    <a href="{{ url('openapi') }}" target="_blank">OpenAPI docs</a> |
                    <a href="{{ url('api_collections_conformance_collection') }}" target="_blank"> Conformance </a>
                </div>
            </div>
            <div class="card-body">
                <pre>{{ data|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre>
            </div>
        </div>
    </div>
{% endblock %}