{% extends 'base.html.twig' %}

{% block body %}
    <script type="text/javascript">
        var columns = [
            {title: "{{ 'Name'|trans }}", name: "name", data: "name"},
            {
                title: "{{ 'Associated maps'|trans }}",
                data: "maps",
                sortable: false,
                width: 400,
                render: function (data, type, row) {
                    if (data.length > 0) {
                        let list = "";
                        data.forEach(function(map){
                            if (map.hasOwnProperty('name')) {
                                if (list !== '') list += ', ';
                                list += '<a href="{{ path('map_list') }}?search='+map.name+'">'+map.name+'</a>';
                            }
                        });
                        return list;
                    } else {
                        return '-';
                    }
                }
            },
            {
                title: "{{ 'Associated layers'|trans }}",
                data: "layers",
                sortable: false,
                width: 400,
                render: function (data, type, row) {
                    if (data.length > 0) {
                        let list = "";
                        data.forEach(function(layer){
                            if (layer.hasOwnProperty('name')) {
                                if (list !== '') list += ', ';
                                list += '<a href="{{ path('data_list') }}?search='+layer.name+'">'+layer.name+'</a>';
                            }
                        });
                        return list;
                    } else {
                        return '-';
                    }
                }
            }
        ];
    </script>
    {% set addBtn, editBtn, delBtn = true, true, true %}
    {% include 'common/entity_list.html.twig' %}
{% endblock %}