{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-12">
        <div class="card card-{% if card_color is defined %}{{ card_color|raw }}{% else %}lightblue{% endif %} card-outline">
            <div class="card-header">
                <div class="float-left">
                    <h5>
                        {% if title_prefix is defined %}{{ title_prefix|raw }}{% endif %}
                        {{ (form.vars.name~".config")|trans }}
                        {% if title_suffix is defined %}{{ title_suffix|raw }}{% endif %}
                    </h5>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        {{ form(form, {'attr': {'id': 'formSettings'}}) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {

            $('select.select2').select2();

            $('#formSettings :input').change(function (e) {
                let id = $(this).attr('data-id');
                let element = $(this);
                let entity = {
                    'id': id,
                    'projections': (Array.isArray($(this).val())) ? $(this).val() : [$(this).val()],
                };

                $.ajax({
                    type: "PATCH",
                    url: "{{ path('api_settings_get_collection') }}/" + id,
                    headers: {'Authorization': 'Bearer internal', 'Content-type': "application/merge-patch+json"},
                    data: JSON.stringify(entity),
                    dataType: 'json',
                    success: function (e) {
                        toastr.success("{{ 'setting.update.success'|trans }}");
                        element.addClass('is-valid');
                        setTimeout(function () {
                            element.removeClass('is-valid');
                        }, 2000);
                    },
                    error: function (e) {
                        toastr.error("{{ 'setting.update.error'|trans }}");
                        element.addClass('is-invalid');
                        setTimeout(function () {
                            element.removeClass('is-invalid');
                        }, 2000);
                    }
                });
            });

        });
    </script>
{% endblock %}