{% extends 'base.html.twig' %}

{% block body %}
    <script type="text/javascript">
        var columns = [
            {title: "{{ 'Name'|trans }}", name: "name", data: "name"},
            {title: "{{ 'EPSG'|trans }}", name: "epsg", data: "epsg"},
        ];
    </script>
    {% set id = 'epsg' %}
    {% set addBtn, editBtn, delBtn = true, true, true %}
    {% include 'common/entity_list.html.twig' %}
{% endblock %}

{% block footer_js %}
    <script type="text/javascript">
        $(function () {
            // Prepopulate field values
            $('#projection_projections').on('select2:select', function (e) {
                $.ajax({
                    type: "GET",
                    url: "{{ path('api_projections_get_collection') }}/" + e.params.data.element.value,
                    headers: {'Authorization': 'Bearer internal', 'Accept': "application/ld+json"},
                    success: function (data) {
                        let fields = ['epsg', 'name', 'proj4', 'srid', 'authName', 'authSrid', 'srText'];
                        $.each(fields, function (key, value) {
                            $('#projection_' + value).val(data.hasOwnProperty(value) ? data[value] : '');
                        });
                    },
                    error: function (e) {
                        if (e.responseJSON.error !== undefined) {
                            toastr.error(e.responseJSON.error)
                        } else {
                            toastr.error("{{ ('projection.populate.error')|trans }}")
                        }
                    },
                    dataFilter: function (data) {
                        var json = JSON.parse(data);
                        json.recordTotal = json['hydra:totalItems'];
                        json.recordsFiltered = json['hydra:totalItems'];
                        json.data = json['hydra:member'];
                        return JSON.stringify(json);
                    }
                });
            })
        });
    </script>
{% endblock %}
