{% extends 'base.html.twig' %}

{% block body %}
    <script type="text/javascript">
        var columns = [
            {title: "{{ 'Name'|trans }}", name: "title", data: "title"},
            {
                title: "{{ 'State'|trans }}",
                name: "state",
                data: null,
                orderable: false,
                width: 150,
                className: 'dt-body-center dt-head-center',
                render: function (data, type, row) {
                    let checked = (data.value === 'on') ? 'checked' : '';
                    return '<input type="checkbox" name="my-checkbox" ' + checked + ' data-bootstrap-switch data-off-color="danger" data-on-color="success">';
                }
            },
        ];
    </script>
    <div class="col-12">
        <div class="card card-lightblue card-outline">
            <div class="card-header">
                <div class="float-left">
                    <h5>{{ 'module.list'|trans }}</h5>
                </div>
            </div>
            <div class="card-body">
                <table id="datatable" class="table table-sm table-bordered table-hover table-striped"></table>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            var table = $('#datatable').DataTable({
                paging: true,
                lengthChange: false,
                searching: true,
                search: {'search': getUrlParameter('search')}, //Autofill search if set in url param
                ordering: true,
                info: true,
                autoWidth: false,
                responsive: true,
                processing: true,
                serverSide: true,
                columns: columns,
                language: {url: "/i18n/datatable_" + getLanguage() + ".json"},
                ajax: {
                    url: '{{ path('api_settings_get_collection' ) }}',
                    headers: {'Authorization': 'Bearer internal', 'Accept': "application/ld+json"},
                    beforeSend: function (request) {
                        // Default properties
                        this.url = '{{ path('api_settings_get_collection') }}?{{ api_filter|raw }}';
                        var filter = $('.dataTables_filter input').val();

                        // Default Sort
                        var sort = '&order[' + columns[0].name + ']=asc';

                        if (table instanceof Object) {
                            // Add Order
                            sort = '&order[' + columns[table.context[0].aaSorting[0][0]].name + ']=' + table.context[0].aaSorting[0][1];
                            if (filter !== "") {
                                // Add filter
                                this.url += '&search=' + filter;
                            }
                            // Add pagination
                            this.url += '&page=' + (table.page.info().page + 1);
                        }
                        this.url += sort;
                    },
                    dataFilter: function (data) {
                        var json = JSON.parse(data);
                        json.recordTotal = json['hydra:totalItems'];
                        json.recordsFiltered = json['hydra:totalItems'];
                        json.data = json['hydra:member'];
                        return JSON.stringify(json);
                    },
                },
                fnRowCallback: function(nRow) {
                    $('[data-bootstrap-switch]', nRow).each(function(){
                        $(this).bootstrapSwitch('state', $(this).prop('checked')).on('switchChange.bootstrapSwitch', function(event, state) {
                            let entity = table.row($(this).closest('tr')).data();
                            let element = $(this);
                            entity.value = (state) ? 'on' : 'off';
                            $.ajax({
                                type: 'PATCH',
                                url: '{{ path('api_settings_get_collection') }}/' + entity.id,
                                headers: {'Authorization': 'Bearer internal', 'Content-type': 'application/merge-patch+json'},
                                data: JSON.stringify(entity),
                                dataType: 'json',
                                success: function (e) {
                                    let msg = (e.value === 'on') ? '{{ 'module.activate.success'|trans }}' : '{{ 'module.deactivate.success'|trans }}';
                                    toastr.success(msg);
                                },
                                error: function (e, a) {
                                    element.bootstrapSwitch('state', (entity.value === 'off'));
                                    let error = (entity.value === 'off') ? '{{ 'module.deactivate.error'|trans }}' : '{{ 'module.activate.error'|trans }}';
                                    toastr.error(error);
                                }
                            });
                        });
                    });
                },
            });
        });
    </script>
{% endblock %}