{% extends 'base.html.twig' %}

{% block body %}
    <script type="text/javascript">
        var columns = [
            {title: "{{ 'Name'|trans }}", name: "name", data: "name"}
        ];
    </script>
    {% set downloadBtn = true %}
    {% include 'configuration/log/table_list.html.twig' %}
{% endblock %}

