<div class="col-12">
    <div class="card card-{% if card_color is defined %}{{ card_color|raw }}{% else %}lightblue{% endif %} card-outline">
        <div class="card-header">
            <div class="float-left">
                <h5>
                    {{ 'Logs' | trans }}
                </h5>
            </div>
            <div class="card-tools">

            </div>
        </div>
        <div class="card-body">
            <table id="datatable" class="table table-sm table-bordered table-hover table-striped"></table>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {

        // Initialize Datatable
        var btns = [];

        {% if downloadBtn is defined and downloadBtn %}
        btn = [
            {
                orderable: false,
                data: "id",
                width: 50,
                render: function (data, type, row) {
                    return '<a type="button" href="/log/' + data + '" title="{{ 'Download'|trans }}" class="btn btn-block btn-flat"><i class="fas fa-download light-Black"></i></a>'
                }
            }
        ];

        $.merge(btns, btn);
        {% endif %}

        {% if error is defined %}
        {% set errorMsg = error %}
        function showError() {

            const message = "{{ errorMsg }}";
            if (message !== undefined) {
                toastr.error(message)
            }
        }

        showError();
        {% endif %}
        $.merge(columns, btns);
        var table = $('#datatable').DataTable({
            paging: true,
            lengthChange: false,
            ordering: true,
            info: true,
            autoWidth: false,
            responsive: true,
            columns: columns,
            language: {url: "/i18n/datatable_" + getLanguage() + ".json"},
            ajax: {
                url: 'logs',
                headers: {'Authorization': 'Bearer internal', 'Accept': "application/ld+json"},
                dataFilter: function (data) {
                    var json = JSON.parse(data);
                    json.recordTotal = json['hydra:totalItems'];
                    json.recordsFiltered = json['hydra:totalItems'];
                    json.data = json['hydra:member'];
                    return JSON.stringify(json);
                }
            }
        });
    });
</script>
