<!doctype html>
<html lang="en">
<body>
<div class="body">
    <div class="container">
        <div class="header text-center">
            <a href="#">
                <img src="{{ email.image('@images/logo.png') }}" alt="Prodige Logo">
            </a>
        </div>
        <div class="content">
            <h1 class="text-center">{{ "hi" | trans }} {{ user.login }}</h1>
            <p class="block">
                {{ "There was a request to change your password!" | trans }}.<br/>
                {{ "If you did not make this request then please ignore this email." | trans }}<br/>
                {{ "Otherwise, please click this link to change your password" | trans }} : <a
                        href="{{ signUpPage }}">{{ "here" | trans }}</a>
            </p>
        </div>
    </div>
</div>
</body>
</html>