{% extends 'base.html.twig' %}

{% block body %}
    <script type="text/javascript">
        var columns = [
            {title: "{{ 'Name'|trans }}", name: "name", data: "name"},
            {
                title: "{{ 'Privileges'|trans }}",
                data: "privileges",
                sortable: false,
                render: function (data, type, row) {
                    if (data.length > 0) {
                        let privileges_list = "";
                        data.forEach(function (privilege) {
                            if (privilege.hasOwnProperty('name')) {
                                if (privileges_list !== '') privileges_list += ', ';
                                privileges_list += privilege.name;
                            }
                        });
                        return privileges_list;
                    } else {
                        return '-';
                    }
                }
            },{
                title: "{{ 'Users'|trans }}",
                orderable: false,
                width: 120,
                className: 'dt-body-center dt-head-center',
                data: "countUser",
                render: function (data, type, row) {
                    if (row.hasOwnProperty('id')) {
                        return '<a href="/profiles/'+row.id+'/users">'+data+'</a>';
                    }
                }
            }
        ];
    </script>
    {% set addBtn, editBtn, delBtn = true, true, true %}
    {% include 'common/entity_list.html.twig' %}
    {% include 'administration/directory/profile/confirm_modal_geonetwork.html.twig' %}
{% endblock %}


{% block footer_js %}
    <script type="text/javascript">
        $(function () {
            $('#profileadd_domains')
                .on('select2:select', {selector: '#profileadd_subdomains'}, selectSubdomains)
                .on('select2:unselect', {selector: '#profileadd_subdomains'}, unselectSubdomains);
        });
    </script>
{% endblock %}