{% extends 'common/entity_edit_form.html.twig' %}

{% block js %}
    <script type="text/javascript">
        $(function () {
            $('#profile_domains').on('select2:select', {selector: '#profile_subdomains'}, selectSubdomains).on('select2:unselect', {selector: '#profile_subdomains'}, unselectSubdomains);
        });

        // Delete in GN modal_confirm
        $('#profile_isSynchronised').change(function () {
            if ($('#profile_isSynchronised').prop('checked') === false) {
                let profileName = $('#profile_name').val();
                $('#modalConfirmDeleteGroup .modal-title').html('{{ 'delete_modal'|trans }}');
                $('#modalConfirmDeleteGroup .modalConfigSubmit').attr('data-name', profileName);
                $('#modalConfirmDeleteGroup .modal-body').html('{{ (form.vars.name~'.delete.confirm') |trans }}  ' + name
                    + ' ' + profileName + ' {{ (form.vars.name~'.geonetwork.confirm') |trans }}' + ' ?');
                $('#modalConfirmDeleteGroup').modal('show');
            }
        });

        $('#modalConfirmDeleteGroup .modalConfigDelete').on('click', function () {
            $('#profile_isSynchronised').prop('checked', true);
            $('#modalConfirmDeleteGroup').modal('hide');
        });

    </script>
{% endblock %}