{% if (api_path is not defined) %}
    {% set api_path = form.vars.name %}
{% endif %}
<div class="modal fade" id="staticEditEntity" data-backdrop="static" tabindex="-1" role="dialog"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">{{ (form.vars.name~'.edit.action')|trans }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ form(form, {'attr': {'id': 'formEntityEdit'}}) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'close'|trans }}</button>
                <button type="button" class="btn btn-primary" id="btnSubmitEdit">{{ 'save'|trans }}</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        // Form submission
        $('#btnSubmitEdit').click(function (e) {
            if ($('#formEntityEdit').valid()) {

                // Disable btn to avoid multiple submit
                $('#btnSubmitEdit').addClass('disabled').attr('disabled', 'disabled');

                // Retrieve entity
                var entity = {};
                var mapcache = {};
                let form_name = $('#formEntityEdit').attr('name');
                if (form_name === 'grid') {
                    entity['extent'] = [];
                } else {
                    entity['metadata'] = {'generation' : {}};
                }
                $.each($('#formEntityEdit').find(':input[id^="' + form_name + '"]'), function (key, val) {
                    if ($(this).attr("disabled") === undefined) {
                        let values = $(this).val();
                        let name = val.name.match(/\[([a-zA-Z0-9_]+)\](\[\])?/m);
                        if ($.isArray(values)) {
                            entity[name[1]] = [];
                            for (let i = 0; i < values.length; i++) {
                                let value = '';
                                if (val.value) {
                                    value = values[i];
                                }
                                if (name) {
                                    if (!entity.hasOwnProperty(name[1])) entity[name[1]] = [];
                                    if (name[2] !== undefined) {
                                        entity[name[1]].push(value);
                                    } else { // Set null for non multiple select with empty value
                                        entity[name[1]] = ($(this)[0].nodeName.toLowerCase() === 'select' && value === '') ? null : value;
                                    }
                                }
                            }
                        } else {
                            if (($(this).attr('type') === 'number' || $(this).attr('data-type') === 'number') && values !== '') {
                                values = Number(values);
                            }
                            if (['xmin', 'ymin', 'xmax', 'ymax'].includes(name[1])) {
                                entity['extent'].push(values);
                            } else {
                                entity[name[1]] = (($(this).attr('type') === 'date' || $(this)[0].nodeName.toLowerCase() === 'select') && values === '') ? null : values;
                            }
                        }
                    }
                });

                // Particular case for grid size
                if (entity.hasOwnProperty('width') && entity.hasOwnProperty('height')) {
                    entity['size'] = entity.width + ' ' + entity.height;
                    delete entity.width;
                    delete entity.height;
                }

                // Particular case for tile size
                if (entity.hasOwnProperty('mode')) {
                    entity['metadata']['generation']['mode'] = entity.mode;
                    delete entity.mode;
                    if (entity.hasOwnProperty('time')) {
                        entity['metadata']['generation']['time'] = entity.time;
                        delete entity.time;
                    }
                }

                mapcache[form_name+'s'] = entity;

                $.ajax({
                    type: "PUT",
                    url: "{{ path(api_path) }}/" + $('#btnSubmitEdit').attr('data-name'),
                    headers: {'Authorization': 'Bearer internal', 'Content-type': "application/ld+json"},
                    data: JSON.stringify(entity),
                    dataType: 'json',
                    success: function (e) {
                        toastr.success("{{ (form.vars.name~'.edit.success')|trans }}");
                        $('#datatable').DataTable().ajax.reload();
                        $('#btnSubmitEdit').removeClass('disabled').removeAttr('disabled');
                        $('#staticEditEntity').modal('hide');
                    },
                    error: function (e) {
                        toastr.error("{{ (form.vars.name~'.edit.error')|trans }}");
                        $('#btnSubmitEdit').removeClass('disabled').removeAttr('disabled');
                        $('#staticEditEntity').modal('show');
                    }
                });

            }
        });
    });
</script>
{% block js %}{% endblock %}