<div class="col-12">
    <div class="modal fade" id="staticAddEntity" data-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">{{ (form.vars.name~'.add.action')|trans }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ form(form, {'attr': {'id': 'formEntityAdd'}}) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'close'|trans }}</button>
                    <button type="button" class="btn btn-primary" id="btnSubmitAdd">{{ 'save'|trans }}</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        // Form submission
        $('#btnSubmitAdd').click(function (e) {
            if ($('#formEntityAdd').valid()) {

                let form_name = $('#formEntityAdd').attr('name');

                // Disable btn to avoid multiple submit
                $('#btnSubmitAdd').addClass('disabled').attr('disabled', 'disabled');

                // Retrieve entity
                var entity = {};
                var mapcache = {};
                if (form_name === 'grid') {
                    entity['extent'] = [];
                } else {
                    entity['metadata'] = {'generation' : {}};
                }
                $.each($('#formEntityAdd').find(':input[id^="' + form_name + '"]'), function (key, val) {
                    let values = $(this).val();
                    let name = val.name.match(/\[([a-zA-Z0-9_]+)\](\[\])?/m);
                    if ($.isArray(values)) {
                        for (let i = 0; i < values.length; i++) {
                            let value = '';
                            if (val.value) {
                                value = values[i];
                            }
                            if (name) {
                                if (!entity.hasOwnProperty(name[1])) entity[name[1]] = [];
                                if (name[2] !== undefined) {
                                    entity[name[1]].push(value);
                                } else { // Set null for non multiple select with empty value
                                    entity[name[1]] = ($(this)[0].nodeName.toLowerCase() === 'select' && value === '') ? null : value;
                                }
                            }
                        }
                    } else {
                        if (($(this).attr('type') === 'number' || $(this).attr('data-type') === 'number') && values !== '') {
                            values = Number(values);
                        }
                        if (['xmin', 'ymin', 'xmax', 'ymax'].includes(name[1])) {
                            entity['extent'].push(values);
                        } else if (name[1] === 'layer') {
                            entity.layer = {'name' : values};
                            mapcache.name = values;
                        } else {
                            entity[name[1]] = (($(this).attr('type') === 'date' || $(this)[0].nodeName.toLowerCase() === 'select') && values === '') ? null : values;
                        }
                    }
                });

                // Particular case for grid size
                if (entity.hasOwnProperty('width') && entity.hasOwnProperty('height')) {
                    entity['size'] = entity.width + ' ' + entity.height;
                    delete entity.width;
                    delete entity.height;
                }

                // Particular case for tile size
                if (entity.hasOwnProperty('mode')) {
                    entity['metadata']['generation']['mode'] = entity.mode;
                    delete entity.mode;
                    if (entity.hasOwnProperty('time')) {
                        entity['metadata']['generation']['time'] = entity.time;
                        delete entity.time;
                    }
                }
                if (entity.hasOwnProperty('format')) {
                    entity.layer.format = entity.format;
                    delete entity.format;
                }

                mapcache[form_name+'s'] = entity;

                $.ajax({
                    type: "POST",
                    url: "{{ path(api_path) }}",
                    headers: {'Authorization': 'Bearer internal', 'Content-type': "application/ld+json"},
                    data: JSON.stringify(mapcache),
                    dataType: 'json',
                    success: function (e) {
                        toastr.success("{{ (form.vars.name~'.add.success')|trans }}");
                        $('#datatable').DataTable().ajax.reload(); // Reload datatable
                        $('#formEntityAdd').trigger('reset'); // Reset form values
                        $('#btnSubmitAdd').removeClass('disabled').removeAttr('disabled');
                        $('#staticAddEntity').modal('hide');
                    },
                    error: function (e) {
                        toastr.error("{{ (form.vars.name~'.add.error')|trans }}");
                        $('#btnSubmitAdd').removeClass('disabled').removeAttr('disabled');
                        $('#staticaddEntity').modal('show');
                    }
                });

            }
        });
        $('select.select2').each(function () {
            let options = {};
            if ($(this).attr('data-max-selection')) {
                options['maximumSelectionLength'] = $(this).attr('data-max-selection');
            }
            $(this).select2(options);
        });

        var duallistbox = $('.duallistbox').bootstrapDualListbox({
            nonSelectedListLabel: '{{ ('duallistbox.nonSelectedListLabel')|trans }}',
            selectedListLabel: '{{ ('duallistbox.selectedListLabel')|trans }}',
            filterTextClear: '{{ ('duallistbox.filterTextClear')|trans }}',
            showFilterInputs: false,
            moveAllLabel: '{{ ('duallistbox.moveAllLabel')|trans }}',
            removeAllLabel: '{{ ('duallistbox.removeAllLabel')|trans }}',
            infoTextEmpty: '{{ ('duallistbox.infoTextEmpty')|trans }}',
            infoText: false,
        });
        if (duallistbox.length > 0) {
            $('.duallistbox').on('change', function () {
                initDualListBox(duallistbox);
            });
            initDualListBox(duallistbox);
        }

        $(":input[data-trigger-active]").each(triggerActive).change(triggerActive);
    });
</script>