{% extends 'base.html.twig' %}

{% set nav_path = path('wmts_grid_list') %}
{% set title_prefix = '<i class="fas fa-layer-group cyan"></i>&nbsp;' %}
{% set title_suffix = ' ' ~ 'of grid'|trans ~ ' ' ~ grid.metadata %}

{% block body %}
    <div class="col-12">
        <div class="card card-{% if card_color is defined %}{{ card_color|raw }}{% else %}lightblue{% endif %} card-outline">
            <div class="card-header">
                <div class="float-left">
                    <h5>
                        {% if title_prefix is defined %}{{ title_prefix|raw }}{% endif %}
                        {{ (title~'.list')|trans }}
                        {% if title_suffix is defined %}{{ title_suffix|raw }}{% endif %}
                    </h5>
                </div>
                <div class="card-tools">
                    {% if nav_path is defined %}
                        <div id="returnBtn" class="float-left">
                            <a href="{{ nav_path }}"><i
                                        class="fas fa-angle-double-left"></i>{{ (form.vars.name~'.return')|trans }}</a>
                        </div>
                    {% endif %}
                    <button id="btnAddentity" type="button" class="btn btn-tool btn-default"
                            title="{{ (form.vars.name~".add.action")|trans }}"
                            data-toggle="modal"
                            data-target="#staticAddEntity">
                        {{ "add"|trans }}&nbsp;
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <table id="datatable" class="table table-sm table-bordered table-hover table-striped"></table>
            </div>
        </div>
    </div>
    {% include 'configuration/ogc_services/mapcache_add_form.html.twig' %}
    <div class="col-12" id="editArea"></div>

    {% include 'common/confirm_modal.html.twig' %}
    <script type="text/javascript">
        $(function () {

            var columns = [
                {title: "{{ 'Name'|trans }}", name: "name", data: "name"},
                {
                    title: "{{ 'Generation'|trans }}",
                    name: "mode",
                    data: null,
                    render: function (data, type, row) {
                        return (data.mode === 'defer') ? '{{ 'tile.mode.defer'|trans }} ' + data.time : '{{ 'tile.mode.direct'|trans }}';
                    }
                },
                {
                    title: "{{ 'Cache'|trans }}",
                    name: "cache",
                    data: null,
                    render: function (data, type, row) {
                        return (data.status === 'done') ? '{{ 'tile.status.done'|trans }}' : '{{ 'tile.status.todo'|trans }}';
                    }
                },
                {
                    title: "{{ 'Map file'|trans }}",
                    name: "mapFileExists",
                    data: null,
                    width: 120,
                    render: function (data, type, row) {
                        return (data.mapFileExists === true)
                            ? '<a type="button" href="' + data.mapFilePath + '" target="_blank" title="{{ 'See map'|trans }}" class="btn btn-block btn-flat green"><i class="fa fa-check green"></i> {{ 'Exists'|trans }}</a>'
                            : '<a type="button" href="' + data.mapFilePath + '" target="_blank" title="{{ 'Create file'|trans }}" class="btn btn-block btn-flat red"><i class="fa fa-times red"></i> {{ 'Missing'|trans }}</a>';
                    }
                },
                {
                    orderable: false,
                    data: null,
                    width: 50,
                    render: function (data, type, row) {
                        return '<a type="button" title="{{ 'edit'|trans }}" class="btn btn-block btn-flat btnEdit"><i class="fa fa-edit green"></i></a>';
                    }
                },
                {
                    orderable: false,
                    data: null,
                    width: 50,
                    render: function (data, type, row) {
                        return '<a type="button" title="{{ 'delete'|trans }}" class="btn btn-block btn-flat btnDelete"><i class="fa fa-trash-alt red"></i></a>';
                    }
                },
            ];

            // Initialize Datatable
            var table = $('#datatable').DataTable({
                paging: true,
                lengthChange: false,
                searching: false,
                ordering: false,
                info: true,
                autoWidth: false,
                responsive: true,
                processing: true,
                serverSide: true,
                columns: columns,
                language: {url: "/i18n/datatable_" + getLanguage() + ".json"},
                ajax: {
                    url: '{{ get_tiles_api_path }}',
                    headers: {'Authorization': 'Bearer internal', 'Accept': "application/ld+json"},
                    dataFilter: function (data) {
                        var json = JSON.parse(data);
                        json.recordTotal = json['hydra:totalItems'];
                        json.recordsFiltered = json['hydra:totalItems'];
                        json.data = json['hydra:member'];
                        return JSON.stringify(json);
                    }
                }
            });

            // Get entity form
            $('#datatable tbody').on('click', 'td .btnEdit', function () {
                let entity = table.row($(this).closest('tr')).data();
                let btn = $(this);

                // Avoid multiple btn click event
                btn.addClass('disabled');

                $.ajax({
                    type: "GET",
                    url: "{{ form.vars.name }}/edit/" + entity.name,
                    success: function (e) {
                        $('#editArea').html(e);
                        $('#btnSubmitEdit').attr('data-name', entity.name);
                        $(":input[data-trigger-active]").each(triggerActive).change(triggerActive);
                        $('#staticEditEntity').modal('show');
                        $('select.select2').each(function () {
                            let options = {};
                            if ($(this).attr('data-max-selection')) {
                                options['maximumSelectionLength'] = $(this).attr('data-max-selection');
                            }
                            $(this).select2(options);
                        });

                        var duallistbox = $('#staticEditEntity').find('.duallistbox').bootstrapDualListbox({
                            nonSelectedListLabel: '{{ ('duallistbox.nonSelectedListLabel')|trans }}',
                            selectedListLabel: '{{ ('duallistbox.selectedListLabel')|trans }}',
                            filterTextClear: '{{ ('duallistbox.filterTextClear')|trans }}',
                            showFilterInputs: false,
                            moveAllLabel: '{{ ('duallistbox.moveAllLabel')|trans }}',
                            removeAllLabel: '{{ ('duallistbox.removeAllLabel')|trans }}',
                            infoTextEmpty: '{{ ('duallistbox.infoTextEmpty')|trans }}',
                            infoText: false,
                        });
                        $('#staticEditEntity').find('.duallistbox').on('change', function () {
                            initDualListBox(duallistbox);
                        });
                        initDualListBox(duallistbox);
                        btn.removeClass('disabled');
                    },
                    error: function ($e) {
                        toastr.error("{{ (form.vars.name~".loading.error")|trans }}")
                        btn.removeClass('disabled');
                    }
                });
            });

            // Delete Confirm modal
            $('#datatable tbody').on('click', 'td .btnDelete', function () {
                let entity = table.row($(this).closest('tr')).data();
                $('#modalConfirm .modalConfigSubmit').attr('data-name', entity.name);
                $('#modalConfirm .modal-title').html('{{ 'delete_modal'|trans }}');
                $('#modalConfirm .modal-body').html('{{ (title~'.delete.confirm') |trans }}');
                $('#modalConfirm').modal('show');
            });

            // Delete from list
            $('#modalConfirm .modalConfigSubmit').on('click', function () {
                $('#modalConfirm').modal('hide');
                let url = "{{ path(api_path) }}/" + $('#modalConfirm .modalConfigSubmit').attr('data-name');
                $.ajax({
                    type: "DELETE",
                    url: url,
                    headers: {'Authorization': 'Bearer internal', 'Accept': "application/ld+json"},
                    success: function ($e) {
                        table.ajax.reload();
                        toastr.success("{{ (title~'.delete.success')|trans }}")
                    },
                    error: function ($e) {
                        toastr.error("{{ (title~'.delete.error')|trans }}")
                    }
                });
            });
        });
    </script>
{% endblock %}
