{% extends 'common/entity_edit_form.html.twig' %}

{% block js %}
<script type="text/javascript">
    $(function () {
        $('#engine_layer').change(function () {
            updateLayerSelect('/api/layers/' + $(this).val().replace('/api/layers/', '') + '/fields', $(this).val(), '#engine');
        });
        $('#engine_joinId').change(function () {
            if ($(this).val() !== '') {
                $('#engine_joinField').removeAttr('disabled', 'disabled').attr('required', 'required');
            } else {
                $('#engine_joinField').attr('disabled', 'disabled').removeAttr('required', 'required').val('');
            }
        });
    });
</script>
{% endblock %}