{% extends 'base.html.twig' %}

{% block body %}
    <script type="text/javascript">
        var columns = [
            {
                title: "{{ 'Profile'|trans }}",
                name: "profile",
                data: "profile.name",
                render: function (data, type, row) {
                    return '<a href="{{ path('profile_list') }}?search=' + data + '">' + data + '</a>';
                }
            },
            {
                title: "{{ 'Data'|trans }}",
                name: "layer",
                data: "layer.name",
                render: function (data, type, row) {
                    return '<a href="{{ path('data_list') }}?search=' + data + '">' + data + '</a>';
                }
            },
            {title: "{{ 'Privilege'|trans }}", name: "privilege", data: "lexPrivilege.name"},
            {title: "{{ 'Structure type'|trans }}", name: "structure_type", data: "lexStructureType.name"},
            {title: "{{ 'Field'|trans }}", name: "field", data: "field"},
        ];
    </script>
    {% set addBtn, delBtn = true, true %}
    {% include 'common/entity_list.html.twig' %}
{% endblock %}

{% block footer_js %}
    <script type="text/javascript">
        $(function () {
            $('#profile_privilege_layer_layer').change(function () {
                $('#profile_privilege_layer_field').attr('disabled', 'disabled').html('');

                if ($(this).val().replace('/api/layers/', '') !== '') {
                    // Reload field_id & field_label list
                    $.ajax({
                        type: "GET",
                        url: '/api/layers/' + $(this).val().replace('/api/layers/', '') + '/fields',
                        headers: {'Authorization': 'Bearer internal', 'Accept': "application/ld+json"},
                        success: function (e) {
                            if (Object.keys(e.dbFields).length > 0) {
                                $('#profile_privilege_layer_field').removeAttr('disabled');
                                $.each(e.dbFields, function (key, value) {
                                    $('#profile_privilege_layer_field').get(0).options.add(new Option(key));
                                });
                            }
                        },
                        error: function (e) {
                            if (e.responseJSON.error !== undefined) {
                                toastr.error(e.responseJSON.error)
                            }
                        },
                        dataFilter: function (data) {
                            var json = JSON.parse(data);
                            json.recordTotal = json['hydra:totalItems'];
                            json.recordsFiltered = json['hydra:totalItems'];
                            json.data = json['hydra:member'];
                            return JSON.stringify(json);
                        }
                    });
                } else {
                    $('#profile_privilege_layer_field').find('option').remove().end();
                }
            });
        });
    </script>
{% endblock %}
