{% extends 'base.html.twig' %}

{% block body %}
    <script type="text/javascript">
        var columns = [
            {title: "{{ 'Name'|trans }}", name: "name", data: "name"},
            {title: "{{ 'Type'|trans }}", width: 100, name: "type", data: "lexLayerType.name"},
            {
                title: "{{ 'Last import'|trans }}",
                name: "last_import",
                data: "lastImport",
                width: 160,
                className: 'dt-body-center dt-head-center',
                render: function(data, type, row){
                    return new Date(data).toLocaleDateString("{{ app.request.locale }}");
                }
            },
            {
                title: "{{ 'Territory management'|trans }}",
                width: 160,
                className: 'dt-body-center dt-head-center',
                data: "restriction",
                sortable: false,
                render: function (data, type, row) {
                    return (data === true ? '{{ 'Yes'|trans }}' : '{{ 'No'|trans }}');
                }
            },
            {
                title: "{{ 'Object management'|trans }}",
                width: 140,
                className: 'dt-body-center dt-head-center',
                data: "isObjectManagement",
                sortable: false,
                render: function (data, type, row) {
                    let link = '<a href="{{ path('data_object_list') }}?search='+ row.name +'" title="{{ 'Manage'|trans }}">';
                    link += (data === true ? '{{ 'Yes'|trans }}' : '{{ 'No'|trans }}');
                    link += '</a>'
                    return link;
                }
            },
            {
                title: "{{ 'Awardee management'|trans }}",
                width: 160,
                className: 'dt-body-center dt-head-center',
                data: "isAwardeeManagement",
                sortable: false,
                render: function (data, type, row) {
                    let link = '<a href="{{ path('data_attribute_list') }}?search='+ row.name +'" title="{{ 'Manage'|trans }}">';
                    link += (data === true ? '{{ 'Yes'|trans }}' : '{{ 'No'|trans }}');
                    link += '</a>'
                    return link;
                }
            },
            {
                title: "{{ 'Published in WMS'|trans }}",
                width: 120,
                className: 'dt-body-center dt-head-center',
                data: "wfs",
                render: function (data, type, row) {
                    return (data === true ? '{{ 'Yes'|trans }}' : '{{ 'No'|trans }}');
                }
            },
            {
                title: "{{ 'Published in WFS'|trans }}",
                width: 120,
                className: 'dt-body-center dt-head-center',
                data: "wfs",
                render: function (data, type, row) {
                    return (data === true ? '{{ 'Yes'|trans }}' : '{{ 'No'|trans }}');
                }
            },
            {
                width: 60,
                orderable: false,
                className: 'dt-body-center dt-head-center',
                data: null,
                render: function (data, type, row) {
                    let viewable = '<i ' +
                        'class="far fa-eye ' + (row.viewable ? 'blue' : 'light-grey') + '" ' +
                        'title="' + (row.viewable ? "{{ 'Viewable'|trans }}" : "{{ 'Not viewable'|trans }}") + '">' +
                        '</i>';
                    let downloadable = '<i ' +
                        'class="fa fa-download ' + (row.download ? 'blue' : 'light-grey') + '" ' +
                        'title="' + (row.download ? "{{ 'Downloadable'|trans }}" : "{{ 'Not downloadable'|trans }}") + '">' +
                        '</i>';
                    return viewable + '&nbsp;/&nbsp;' + downloadable;
                }
            }
        ];
    </script>
    {% set editBtn = true %}
    {% include 'common/entity_list.html.twig' %}
{% endblock %}