{% extends 'base.html.twig' %}

{% block body %}
    <script type="text/javascript">
        var columns = [
            {
                title: "{{ 'Profile'|trans }}",
                name: "profile",
                data: "profile.name",
                render: function (data, type, row) {
                    return '<a href="{{ path('profile_list') }}?search='+data+'">'+data+'</a>';
                }
            },
            {
                title: "{{ 'Data'|trans }}",
                name: "layer",
                data: "metadataSheet",
                sortable: false,
                render: function (data, type, row) {
                    if (data.layers.length > 0) {
                        let list = "";
                        data.layers.forEach(function(layer){
                            if (layer.hasOwnProperty('name')) {
                                if (list !== '') list += ', ';
                                list += '<a href="{{ path('data_list') }}?search='+layer.name+'">'+layer.name+'</a>';
                            }
                        });
                        return list;
                    } else {
                        return '-';
                    }
                }
            },
            {title: "{{ 'Privilege'|trans }}", name: "privilege", data: "lexPrivilege.name"},
        ];
    </script>
    {% set addBtn, delBtn = true, true %}
    {% include 'common/entity_list.html.twig' %}
{% endblock %}