{% extends 'base.html.twig' %}

{% block body %}
    <script type="text/javascript">
        var columns = [
            {title: "{{ 'Order'|trans }}", className: 'reorder', name: "rowOrder", data: "rowOrder"},
            {title: "{{ 'Name'|trans }}",name: "name", data: "name"},
            {title: "{{ 'Layer'|trans }}", name: "layer", data: "layer.name"},
            {title: "{{ 'Field ID'|trans }}", name: "field_id", data: "fieldId"},
            {title: "{{ 'Field Name'|trans }}", name: "field_name", data: "fieldName"},
            {
                title: "{{ 'Based on'|trans }}",
                orderable: false,
                name: "join_id",
                data: null,
                render: function (data, type, row) {
                    if (row.hasOwnProperty('joinId')) {
                        return row.joinId.name;
                    }
                    return '-';
                }
            },
            {
                title: "{{ 'Linked to field'|trans }}",
                orderable: false,
                name: "join_field",
                data: null,
                render: function (data, type, row) {
                    if (row.hasOwnProperty('joinField')) {
                        return row.joinField;
                    }
                    return '-';
                }
            },
        ];
    </script>
    {% set datatableOptions = "rowReorder: {dataSrc: 'rowOrder', update: false}, ordering: false" %}
    {% set addBtn, editBtn, delBtn, reloadPage = true, true, true, true %}
    {% include 'common/entity_list.html.twig' %}
{% endblock %}

{% block footer_js %}
    <script type="text/javascript">
        $(function () {
            $('#datatable').DataTable().on('row-reorder', function (e, diff, edit) {
                let success = true;
                for (var i = 0, ien = diff.length; i < ien; i++) {

                    let entity = $('#datatable').DataTable().row(diff[i].node).data();
                    $.ajax({
                        type: "PATCH",
                        url: "{{ path('api_'~form.vars.name~'s_get_collection') }}/" + entity.id,
                        headers: {'Authorization': 'Bearer internal', 'Content-type': "application/merge-patch+json"},
                        data: JSON.stringify({'id': entity.id, 'rowOrder': diff[i].newPosition+1}),
                        success: function (e) {
                        },
                        error: function ($e) {
                            toastr.error("{{ (form.vars.name~".order.error")|trans }}")
                            success = false;
                        }
                    });
                }

                if (success === true) {
                    toastr.success("{{ (form.vars.name~".order.success")|trans }}");
                }

                $('#datatable').DataTable().ajax.reload();
            });

            $('#engineadd_layer').change(function () {
                updateLayerSelect('/api/layers/'+$(this).val().replace('/api/layers/', '')+'/fields', $(this).val(), '#engineadd');
            });

            $('#engineadd_joinId').change(function () {
                if ($(this).val() !== '') {
                    $('#engineadd_joinField').removeAttr('disabled', 'disabled');
                } else {
                    $('#engineadd_joinField').attr('disabled', 'disabled');
                    $('#engineadd_joinField').val('');
                }
            });
        });
    </script>
{% endblock %}