{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-12">
        <div class="card card-{% if card_color is defined %}{{ card_color|raw }}{% else %}lightblue{% endif %} card-outline">
            <div class="card-header">
                <div class="float-left">
                    <h5>
                        {% if title_prefix is defined %}{{ title_prefix|trans|raw }}{% endif %}
                        {{ (title~'.list')|trans }}
                        {% if title_suffix is defined %}{{ title_suffix|trans|raw }}{% endif %}
                    </h5>
                </div>
            </div>
            <div class="card-body">
                <table id="telechargement" class="table table-sm table-bordered table-hover table-striped">
                    <thead>
                    <tr>
                        <th style="width: 15%">
                            {% trans %}Creation date{% endtrans %}
                        </th>
                        <th style="width: 20%">
                            {% trans %}Metadata uuid{% endtrans %}
                        </th>
                        <th style="width: 20%">
                            {% trans %}Status{% endtrans %}
                        </th>
                        <th style="width: 10%">
                            {% trans %}Queue name{% endtrans %}
                        </th>
                        <th style="width: 2%">
                        </th>
                    </tr>
                    </thead>
                    <tbody id="tbody">
                    {% for download in downloads %}
                        <tr id="{{ download.id }}">
                            <td>
                                {{ download.createdAt |date("d F Y, H:i")|format_datetime('full', 'short', locale='fr')}}
                            </td>
                            <td>
                                {{ download.metadataUuid }}
                            </td>
                            <td>
                                {{ download.status.name }}
                            </td>
                            <td>
                                {{ download.queueName }}
                            </td>
                            <td>
                                <div class="col-12 d-flex justify-content-center">
                                    <a type="button" title="{{ 'delete'|trans }}" class="btnDelete"><i
                                                class="fa fa-trash-alt red"></i></a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% include 'common/confirm_modal.html.twig' %}
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            if (/^en\b/.test(document.getElementsByTagName("HTML")[0].getAttribute("lang"))) {
                var table = new DataTable('#telechargement');
            } else {
                var table = new DataTable('#telechargement', {
                    language: {
                        processing: "Traitement en cours...",
                        search: "Rechercher&nbsp;:",
                        lengthMenu: "Afficher _MENU_ &eacute;l&eacute;ments",
                        info: "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                        infoEmpty: "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
                        infoFiltered: "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                        infoPostFix: "",
                        loadingRecords: "Chargement en cours...",
                        zeroRecords: "Aucun &eacute;l&eacute;ment &agrave; afficher",
                        emptyTable: "Aucune donnée disponible dans le tableau",
                        paginate: {
                            first: "Premier",
                            previous: "Pr&eacute;c&eacute;dent",
                            next: "Suivant",
                            last: "Dernier"
                        },
                        aria: {
                            sortAscending: ": activer pour trier la colonne par ordre croissant",
                            sortDescending: ": activer pour trier la colonne par ordre décroissant"
                        }
                    }
                })
            }

            // Delete Confirm modal
            $('#telechargement tbody').on('click', '.btnDelete', function () {
                let entity = table.row($(this).closest('tr')).data();
                const id = $(this).closest('tr').attr('id');
                $('#modalConfirm .modal-title').html("{{ ("Confirm deletion")|trans }}");
                $('#modalConfirm .modal-body').html("{{ ('download.delete.action')|trans }}");
                $('#modalConfirm').modal('show');
                confirmDelete(id);
            });

            function confirmDelete(id) {
                // Delete entity
                $('#modalConfirm .modalConfigSubmit').on('click', function () {
                    const download_id = $('#' + id).attr('id');
                    $('#modalConfirm').modal('hide');
                    let url = "/download/delete/" + download_id;
                    $.ajax({
                        type: "DELETE",
                        url: url,
                        headers: {'Authorization': 'Bearer internal', 'Accept': "application/ld+json"},
                        success: function () {
                            window.location.reload();
                        },
                        error: function (e) {

                        }
                    });
                });
            }
        })
    </script>
{% endblock %}