{% extends 'base.html.twig' %}

{% block body %}
    <script type="text/javascript">
        var columns = [
            {title: "{{ 'Name'|trans }}", name: "name", data: "name"},
            {
                title: "{{ 'Users'|trans }}",
                orderable: false,
                width: 120,
                className: 'dt-body-center dt-head-center',
                data: "countUser",
                render: function (data, type, row) {
                    if (row.hasOwnProperty('id')) {
                        return '<a href="/user/structures/'+row.id+'">'+data+'</a>';
                    }
                }
            }
        ];
    </script>
    {% set addBtn, editBtn, delBtn, up , downBtn = true, true, true,up ,down%}
    {% include 'common/entity_list.html.twig' %}
    {% include 'administration/directory/structure/confirm_modal_geonetwork.html.twig' %}
{% endblock %}