{% extends 'common/entity_edit_form.html.twig' %}

{% block js %}
    <script type="text/javascript">
        // Delete in GN modal_confirm
        $('#formEntityEdit #structure_isSynchronised').change(function () {
            if ($('#formEntityEdit #structure_isSynchronised').is(":checked") === false) {
                let structureName = $('#formEntityEdit #structure_name').val();
                $('#modalConfirmDeleteStructure .modal-title').html('{{ 'delete_modal'|trans }}');
                $('#modalConfirmDeleteStructure .modalConfigSubmit').attr('data-name', structureName);
                $('#modalConfirmDeleteStructure .modal-body').html('{{ (form.vars.name~'.geonetwork.outOfSunc') |trans }}  ' + name
                    + ' ' + structureName + '? <br/> {{ (form.vars.name~'.geonetwork.confirm') |trans }}' + ' .');
                $('#modalConfirmDeleteStructure').modal('show');
            }
        });

        $('#modalConfirmDeleteStructure .modalConfigDelete').on('click', function () {
            $('#formEntityEdit #structure_isSynchronised').attr('checked', 'unchecked');
            $('#modalConfirmDeleteStructure').modal('hide');
        });

    </script>
{% endblock %}