{% extends 'base.html.twig' %}

{% block body %}
    <script type="text/javascript">
        var columns = [
            {title: "{{ 'Name'|trans }}", name: "name", data: "name"},
            {title: "{{ 'Layer'|trans }}", name: "layer", data: "layer.name"},
            {title: "{{ 'ID field'|trans }}", name: "field_id", data: "fieldId"},
            {title: "{{ 'Label field'|trans }}", name: "field_name", data: "fieldName"},
            {
                orderable: false,
                data: null,
                width: 50,
                render: function (data, type, row) {
                    return '<a type="button" src="#" title="{{ ('zoning.add.level')|trans }}" id="btnAddentity" data-toggle="modal" data-target="#staticAddEntity" class="btn btn-block btn-flat"><i class="fas fa-location-arrow purple"></i></a>';
                }
            },
            {
                orderable: false,
                data: null,
                width: 50,
                render: function (data, type, row) {
                    return '<a type="button" src="#" title="{{ ('zoning.territories_update.action')|trans }}" class="btn btn-block btn-flat btnRefreshTerritories"><i class="fas fa-sync-alt blue"></i></a>';
                }
            }
        ];

    </script>
    {% set addBtn, editBtn, delBtn = addBtn, true, true %}
    {% include 'common/entity_list.html.twig' %}
{% endblock %}

{% block footer_js %}
    <script type="text/javascript">
        $(function () {
            // Refresh Territories event
            $('#datatable tbody').on('click', 'td .btnRefreshTerritories', function () {
                if (confirm("{{ 'Are you sure to update territories ?'|trans }}")) {
                    let entity = $('#datatable').DataTable().row($(this).closest('tr')).data();

                    toastr.success("{{ ('zoning.territories_update.processing')|trans }}");
                    $.ajax({
                        type: "POST",
                        url: "{{ path('zoning_refresh_territories') }}",
                        data: {id: entity.id},
                        success: function (e) {
                            toastr.success("{{ ('zoning.territories_update.success')|trans }}");
                        },
                        error: function (e) {
                            if (e.responseJSON.error !== undefined) {
                                toastr.error(e.responseJSON.error)
                            } else {
                                toastr.error("{{ ('zoning.territories_update.error')|trans }}")
                            }
                        }
                    });
                }
            });

            $('#zoning_layer').change(function () {
                updateLayerSelect('/api/layers/'+$(this).val().replace('/api/layers/', '')+'/fields', $(this).val(), '#zoning');
            });
        });
    </script>
{% endblock %}