{% extends 'base.html.twig' %}

{# Force menu entry selection #}
{% set nav_path = path('user_list') %}

{# Custom display values #}
{% set card_color = 'purple' %}
{% set title_prefix = '<i class="fas fa-bell purple"></i>&nbsp;' %}
{% set title_suffix = ' ' ~ 'of'|trans ~ ' ' ~ user.firstName ~ ' ' ~ user.name%}

{% block body %}
    <script type="text/javascript">
        var columns = [
            {title: "{{ 'Area'|trans }}", name: "area", data: "area.nameAndCode"},
            {title: "{{ 'Layer'|trans }}", name: "layer", data: "layer.name"},
        ];
    </script>

    {% set addBtn, delBtn = true, true %}
    {% include 'common/entity_list.html.twig' %}
{% endblock %}