{% extends 'base.html.twig' %}

{# Force menu entry selection #}
{% set nav_path = path('user_list') %}

{# Custom display values #}
{% set card_color = 'blue' %}
{% set title_prefix = '<i class="far fa-eye blue"></i>&nbsp;' %}
{% set title_suffix = ' ' ~ 'by'|trans ~ ' ' ~ user.firstName ~ ' ' ~ user.name %}
{% set api_path = form.vars.name~'e' %}

{% block body %}
    <script type="text/javascript">
        var columns = [
            {title: "{{ 'Area'|trans }}", name: "area", data: "area.nameAndCode"},
        ];
    </script>
    {% set addBtn, delBtn = true, true %}
    {% include 'common/entity_list.html.twig' %}
{% endblock %}