{% extends 'base.html.twig' %}

{% block body %}
    <script type="text/javascript">
        var columns = [
            {title: "{{ 'Login'|trans }}", name: "login", data: "login"},
            {title: "{{ 'Name'|trans }}", name: "name", data: "name"},
            {title: "{{ 'First Name'|trans }}", name: "firstName", data: "firstName"},
            {title: "{{ 'Email'|trans }}", name: "email", data: "email"},
            {
                title: "{{ 'Profiles'|trans }}",
                data: "profiles",
                orderable: false,
                render: function (data) {
                    if (data.length > 0) {
                        let list = "";
                        data.forEach(function (profile) {
                            if (profile.profile.hasOwnProperty('name')) {
                                if (list !== '') list += ', ';
                                list += '<a href="{{ path('profile_list') }}?search=' + profile.profile.name + '">' + profile.profile.name + '</a>';
                            }
                        });
                        return list;
                    } else {
                        return '-';
                    }
                }
            },
            {
                title: "{{ 'Manage'|trans }}",
                className: 'dt-body-center dt-head-center',
                data: null,
                orderable: false,
                width: 200,
                render: function (data) {
                    return '<a type="button" href="/user/profiles/' + data.id + '" title="{{ 'Manage profiles'|trans }}" class="btn btn-flat"><i class="fas fa-user teal"></i></a>/' +
                        '<a type="button" href="/user/viewable_areas/' + data.id + '" title="{{ 'Manage searchable territories'|trans }}" class="btn btn-flat"><i class="far fa-eye blue"></i></a>/' +
                        '<a type="button" href="/user/editable_areas/' + data.id + '" title="{{ 'Manage editable territories'|trans }}" class="btn btn-flat"><i class="fas fa-cog cyan"></i></a>/' +
                        '<a type="button" href="/user/alerts/' + data.id + '" title="{{ 'Manage alerts'|trans }}" class="btn btn-flat"><i class="fas fa-bell purple"></i></a>';
                }
            },
            {
                className: 'dt-body-center dt-head-center',
                data: null,
                orderable: false,
                width: 50,
                render: function () {
                    return '<a type="button" href="#" title="{{ ('user.password_reset.action')|trans }}" class="btn btn-flat btnSendPasswordRecoveryEmail"><i class="fas fa-envelope-open-text yellow"></i></a>';
                }
            }
        ];

    </script>
    {% if addBtn is defined %}
        {% set addBtn, editBtn, delBtn = addBtn, true, true %}
    {% else %}
        {% set addBtn, editBtn, delBtn = true, true, true %}
    {% endif %}
    {% include 'common/entity_list.html.twig' %}
{% endblock %}

{% block footer_js %}
    <script type="text/javascript">
        $(function () {
            // Reset user password event
            $('#datatable tbody').on('click', 'td .btnSendPasswordRecoveryEmail', function () {
                if (confirm("{{ ('user.password_reset.confirm')|trans|raw }}")) {
                    let entity = $('#datatable').DataTable().row($(this).closest('tr')).data();
                    $.ajax({
                        type: "POST",
                        url: "{{ path('api_users_password_reset_collection') }}",
                        headers: {'Authorization': 'Bearer internal', 'Content-type': "application/ld+json"},
                        data: JSON.stringify({login: entity.login, email: entity.email}),
                        success: function () {
                            toastr.success("{{ ('user.password_reset.success')|trans }}");
                        },
                        error: function (e) {
                            if (e.responseJSON.error !== undefined) {
                                toastr.error(e.responseJSON.error)
                            } else {
                                toastr.error("{{ ('user.password_reset.error')|trans }}")
                            }
                        }
                    });
                }
            });
        });
    </script>
{% endblock %}