{% extends 'base.html.twig' %}

{# Force menu entry selection #}
{% set nav_path = path('user_list') %}

{# Custom display values #}
{% set card_color = 'teal' %}
{% set title_prefix = '<i class="fas fa-user teal"></i>&nbsp;' %}
{% set title_suffix = ' ' ~ 'of'|trans ~ ' ' ~ user.firstName ~ ' ' ~ user.name %}

{% block body %}
    <script type="text/javascript">
        var columns = [
            {title: "{{ 'Profile'|trans }}", name: "profile", data: "profile.name"},
            {title: "{{ 'Privilege Geonetwork'}}", name: "privilege", data: "privilege"},
        ];


        $(function () {
            $('#profile_user_profile').on('change', function () {

                var data = $(this).val();

               $.ajax({
                   url: data + '/right',
                   type: "GET",
                   headers: {'Authorization': 'Bearer internal', 'Content-type': "application/ld+json"},
                   success: function (data) {
                       data = jQuery.parseJSON(data);
                       console.log(data);
                       $('#profile_user_privilege option').remove();
                       $.each(data["privilege"], function(key, value){
                           let element = $('#profile_user_privilege');
                           if(Object.keys(data["privilege"]).length === 1 ){
                               element.prop( "disabled", true );
                               element.append(`<option value="${value}">
                               ${key}
                           </option>`);
                           }else{
                               element.prop( "disabled", false );
                               element.append(`<option value="${value}" autofocus>
                               ${key}
                           </option>`);
                           }

                       });
                   }
               });
            });
        });



    </script>
    {% set addBtn, delBtn, reloadPage = true, true, true %}
    {% include 'common/entity_list.html.twig' %}
{% endblock %}