{% extends 'base.html.twig' %}

{% block body %}
    <script type="text/javascript">
        var columns = [
            {title: "{{ 'Name'|trans }}", name: "name", data: "name"},
            {
                title: "{{ 'Rubric'|trans }}",
                name: "rubric",
                data: "rubric.name",
                orderable: false,
                render: function (data, type, row) {
                    if (row.hasOwnProperty('name')) {
                        return '<a href="{{ path('rubric_list') }}?search=' + data + '">' + data + '</a>';
                    }
                }
            },
            {
                title: "{{ 'Subdomains'|trans }}",
                orderable: false,
                width: 120,
                className: 'dt-body-center dt-head-center',
                data: "countSubdomain",
                render: function (data, type, row) {
                    if (row.hasOwnProperty('name')) {
                        return '<a href="{{ path('subdomain_list') }}?search=' + row.name + '">' + data + '</a>';
                    }
                }
            }
        ];
    </script>
    {% set addBtn, editBtn, delBtn = true, true, true %}
    {% include 'common/entity_list.html.twig' %}
{% endblock %}