<div class="modal fade" id="modalConfirm">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Title</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'close'|trans }}</button>
                <button type="button" class="btn btn-info modalConfigSubmit">{{ 'confirm'|trans }}</button>
            </div>
        </div>
    </div>
</div>