{% if (api_path is not defined) %}
    {% set api_path = form.vars.name %}
{% endif %}
<div class="modal fade" id="staticEditEntity" data-backdrop="static" tabindex="" role="dialog"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">{{ (form.vars.name~'.edit.action')|trans }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ form(form, {'attr': {'id': 'formEntityEdit'}}) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'close'|trans }}</button>
                <button type="button" class="btn btn-primary" id="btnSubmitEdit">{{ 'save'|trans }}</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        // Form submission
        $('#btnSubmitEdit').click(function (e) {
            if ($('#formEntityEdit').valid()) {

                // Disable btn to avoid multiple submit
                $('#btnSubmitEdit').addClass('disabled').attr('disabled', 'disabled');

                // Retrieve entity
                var entity = {};
                $.each($('#formEntityEdit').find(":input:not([type='search'])"), function (key, val) {
                    if ($(this).attr("disabled") === undefined || $(this).attr("data-active-on") !== undefined) {
                        let values = $(this).val();
                        let name = val.name.match(/\[([a-zA-Z0-9_]+)\](\[\])?/m);
                        if ($.isArray(values)) {
                            entity[name[1]] = [];
                            for (let i = 0; i < values.length; i++) {
                                let value = '';
                                if (val.value) {
                                    value = (isNaN(values[i]) ? values[i] : Number(values[i]));
                                }
                                if (name) {
                                    if (!entity.hasOwnProperty(name[1])) entity[name[1]] = [];
                                    if (name[2] !== undefined) {
                                        entity[name[1]].push(value);
                                    } else { // Set null for non multiple select with empty value
                                        entity[name[1]] = ($(this)[0].nodeName.toLowerCase() === 'select' && value === '') ? null : value;
                                    }
                                }
                            }
                        } else {
                            values = ($(this).attr('type') === 'number') ? Number(values) : values;
                            entity[name[1]] = (($(this).attr('type') === 'date' || $(this)[0].nodeName.toLowerCase() === 'select') && values === '') ? null : values;
                        }
                        if(values == null || values === ''){
                            entity[name[1]] = null;
                        }
                    }
                });

                // Particular case for checkboxes
                $.each($('#formEntityEdit input:checkbox'), function (key, val) {
                    var name = this.name.match(/\[([a-zA-Z0-9_]+)\]/m);
                    if (name) {
                        entity[name[1]] = this.checked;
                    }
                });

                {% if (id is not defined) %}
                {% set id = 'id' %}
                {% endif %}

                $.ajax({
                    type: "PATCH",
                    url: "{{ path('api_'~api_path~'s_get_collection') }}/" + $('#btnSubmitEdit').data('{{ id }}'),
                    headers: {'Authorization': 'Bearer internal', 'Content-type': "application/merge-patch+json"},
                    data: JSON.stringify(entity),
                    dataType: 'json',
                    success: function (e) {
                        toastr.success("{{ (form.vars.name~'.edit.success')|trans }}");
                        $('#datatable').DataTable().ajax.reload();
                        $('#btnSubmitEdit').removeClass('disabled').removeAttr('disabled');
                        $('#staticEditEntity').modal('hide');
                    },
                    error: function (xhr, error) {
                        if (xhr.responseJSON.violations !== 'undefined'){
                            toastr.error( xhr.responseJSON.violations[0].message);
                        }else{
                            toastr.error("{{ (form.vars.name~'.edit.error')|trans }}");
                        }
                        $('#btnSubmitEdit').removeClass('disabled').removeAttr('disabled');
                        $('#staticEditEntity').modal('show');
                    }
                });
            }
        });
    });
</script>
{% block js %}{% endblock %}