{% if (api_path is  not defined) %}
    {% set api_path = form.vars.name %}
{% endif %}
<div class="col-12">
    <div class="card card-{% if card_color is defined %}{{ card_color|raw }}{% else %}lightblue{% endif %} card-outline">
        <div class="card-header">
            <div class="float-left">
                <h5>
                    {% if title_prefix is defined %}{{ title_prefix|trans|raw }}{% endif %}
                    {% if title is defined %}
                        {{ title|trans }}
                    {% else %}
                        {{ (form.vars.name~".list")|trans }}
                    {% endif %}
                    {% if title_suffix is defined %}{{ title_suffix|trans|raw }}{% endif %}
                    {% if level is defined %}{{ "Niveau "+level|trans }}{% endif %}
                </h5>
            </div>
            <div class="card-tools">
                {% if up is defined and up == 'true' %}
                    <button id="upLevel" type="button" class="btn btn-tool btn-default"
                            title="{{ (form.vars.name~".up.action")|trans }}"
                            data-toggle="modal">
                        {% if nextLevelIsTop is defined and nextLevelIsTop == 'true' %}
                        <a href="{{ path('structure_list') }}"
                           style="text-decoration: none; color: #4d5153">
                            {{ "move up a level"|trans }}&nbsp;
                            <i class="fas fa-level-up-alt"></i>
                        </a>
                        {% else %}
                            <a href="{{ path('substructure_list', {'id' : parentId }) }}"
                               style="text-decoration: none; color: #4d5153">
                                {{ "move up a level"|trans }}&nbsp;
                                <i class="fas fa-level-up-alt"></i>
                            </a>
                        {% endif %}
                    </button>
                {% endif %}
                {% if addBtn is defined and addBtn == 'true' %}

                    {% if nav_path is defined %}
                        <div id="returnBtn" class="float-left">
                            <a href="{{ nav_path }}"><i
                                        class="fas fa-angle-double-left"></i>{{ (form.vars.name~'.return')|trans }}</a>
                        </div>
                    {% endif %}
                    <button id="btnAddentity" type="button" class="btn btn-tool btn-default"
                            title="{{ (form.vars.name~".add.action")|trans }}"
                            data-toggle="modal"
                            data-target="#staticAddEntity">
                        {{ "add"|trans }}&nbsp;
                        <i class="fas fa-plus"></i>
                    </button>
                {% endif %}
            </div>
        </div>
        <div class="card-body">
            <table id="datatable" class="table table-sm table-bordered table-hover table-striped"></table>
        </div>
    </div>
</div>
{% if addBtn is defined and (addBtn or addBtn == 'custom') %}
    {% include 'common/entity_add_form.html.twig' %}
{% endif %}
<div class="col-12" id="editArea"></div>

{% include 'common/confirm_modal.html.twig' %}

<script type="text/javascript">
    $(function () {

        // Initialize Datatable
        var btns = [];

        {% if editBtn is defined and editBtn %}
        btn = [
            {
                orderable: false,
                data: null,
                width: 50,
                render: function (data, type, row) {
                    return '<a type="button" title="{{ 'edit'|trans }}" class="btn btn-block btn-flat btnEdit"><i class="fa fa-edit green"></i></a>';
                }
            }
        ];
        $.merge(btns, btn);
        {% endif %}

        {% if delBtn is defined and delBtn %}
        btn = [
            {
                orderable: false,
                data: null,
                width: 50,
                render: function (data, type, row) {
                    var button;
                    if (data.hasOwnProperty('canDelete') && !data.canDelete) {
                        button = '<a type="button" title="{{ 'delete'|trans }}" class="btn btn-block btn-flat btnDelete disabled"><i class="fa fa-trash-alt light-grey"></i></a>'
                    } else {
                        button = '<a type="button" title="{{ 'delete'|trans }}" class="btn btn-block btn-flat btnDelete"><i class="fa fa-trash-alt red"></i></a>';
                    }
                    return button;
                }
            }
        ];

        $.merge(btns, btn);
        {% endif %}

        {% if downBtn is defined and downBtn %}
        btn = [
            {
                orderable: false,
                data: null,
                width: 50,
                render: function (data, type, row) {
                    if (row.hasOwnProperty('id')) {
                        return '<a href="/structure/'+row.id+'/children" title="{{ 'down'|trans }}" class="btn btn-block btn-flat"><i class="fas fa-level-down-alt"></i></a>';
                    }
                }
            }
        ];
        $.merge(btns, btn);
        {% endif %}

        $.merge(columns, btns);
        var table = $('#datatable').DataTable({
            paging: true,
            lengthChange: false,
            searching: true,
            search: {'search': getUrlParameter('search')}, //Autofill search if set in url param
            ordering: true,
            info: true,
            autoWidth: false,
            responsive: true,
            processing: true,
            serverSide: true,
            columns: columns,
            {% if actionBtn is defined and actionBtn %}
            columnDefs: [{width: 5, targets: [2], defaultContent: ""}],
            {% else %}
            columnDefs: [{targets: "_all", defaultContent: "-"}],
            {% endif %}
            language: {url: "/i18n/datatable_" + getLanguage() + ".json"},
            ajax: {
                url: '{{ path('api_'~api_path~'s_get_collection' ) }}',
                headers: {'Authorization': 'Bearer internal', 'Accept': "application/ld+json"},
                beforeSend: function (request) {
                    // Default properties
                    this.url = '{{ path('api_'~api_path~'s_get_collection') }}?{{ api_filter|raw }}';
                    var filter = $('.dataTables_filter input').val();
                    // Default Sort
                    var sort = '&order[' + columns[0].name + ']=asc';

                    if (table instanceof Object) {
                        // Add Order
                        sort = '&order[' + columns[table.context[0].aaSorting[0][0]].name + ']=' + table.context[0].aaSorting[0][1];
                        if (filter !== "") {
                            // Add filter
                            this.url += '&search=' + filter;
                        }
                        // Add pagination
                        this.url += '&page=' + (table.page.info().page + 1);
                    }
                    this.url += sort;
                },
                dataFilter: function (data) {
                    var json = JSON.parse(data);
                    json.recordTotal = json['hydra:totalItems'];
                    json.recordsFiltered = json['hydra:totalItems'];
                    json.data = json['hydra:member'];
                    return JSON.stringify(json);
                }
            },
            {% if datatableOptions is defined %}
            {{ datatableOptions|raw }}
            {% endif %}
        });

        // Get entity form
        $('#datatable tbody').on('click', 'td .btnEdit', function () {
            let entity = table.row($(this).closest('tr')).data();
            let btn = $(this);

            const userUrl = document.location.href.match(/\/profiles\/([\d+$]+)\/users/);

            const structureUrl = document.location.href.match(/\/structure\/([\d+$]+)\/children/);

            let urlEdit = userUrl === null ? "{{ form.vars.name }}/edit/" + entity.id : "../../user/edit/" + entity.id;

            if(structureUrl !== null) {
                urlEdit = "../../structure/edit/" + entity.id;
            }
            // Avoid multiple btn click event
            btn.addClass('disabled');

            $.ajax({
                type: "GET",
                url: urlEdit,
                success: function (e) {
                    $('#editArea').html(e);
                    {% if id is not defined %}{% set id = 'id' %}{% endif %}
                    $('#btnSubmitEdit').attr('data-{{ id }}', entity.{{ id }});
                    $("input[data-trigger-active]").each(triggerActive).change(triggerActive);
                    $("input[data-trigger-display]").each(triggerDisplay).change(triggerDisplay);
                    $('#staticEditEntity').modal('show');
                    $('select.select2').each(function () {
                        let options = {};
                        if ($(this).attr('data-max-selection')) {
                            options['maximumSelectionLength'] = $(this).attr('data-max-selection');
                        }
                        $(this).select2(options);
                    });
                    $('[data-mask]').inputmask();
                    btn.removeClass('disabled');
                },
                error: function ($e) {
                    toastr.error("{{ (form.vars.name~".loading.error")|trans }}")
                    btn.removeClass('disabled');
                }
            });
        });

        // Delete Confirm modal
        $('#datatable tbody').on('click', 'td .btnDelete', function () {
            let entity = table.row($(this).closest('tr')).data();
            if (entity.id !== undefined) {
                {% if id is not defined %}{% set id = 'id' %}{% endif %}
                $('#modalConfirm .modalConfigSubmit').attr('data-{{ id }}', entity.{{ id }}).removeAttr('data-path-id');
            } else {
                $('#modalConfirm .modalConfigSubmit').attr('data-path-id', entity['@id']).removeAttr('data-id');
            }
            $('#modalConfirm .modal-title').html('{{ 'delete_modal'|trans }}');
            $('#modalConfirm .modalConfigSubmit').attr('data-name', entity.name);
            let name = (entity.name !== undefined ? entity.name : '')
            if (entity.hasOwnProperty('firstName')) {
                name = entity.firstName + ' ' + name;
            }

            $('#modalConfirm .modal-body').html('{{ (form.vars.name~'.delete.confirm') |trans }} <b>' + name + '</b> ?');
            if($('form:first').attr('name') === "structure" && entity.hasOwnProperty('referenceGn') && entity.referenceGn !== null){
                $('#modalConfirm .modal-body').html('{{ ('structure.delete.syncConfirm') |trans }} <b>' + name + '</b> ?');
            }
            $('#modalConfirm').modal('show');
        });

        // Delete entity
        $('#modalConfirm .modalConfigSubmit').on('click', function () {
            $('#modalConfirm').modal('hide');
            {% if id is not defined %}{% set id = 'id' %}{% endif %}
            let url = "{{ path('api_'~api_path~'s_get_collection') }}/" + $('#modalConfirm .modalConfigSubmit').attr('data-{{ id }}');
            if ($('#modalConfirm .modalConfigSubmit').attr('data-path-id') !== undefined) {
                url = $('#modalConfirm .modalConfigSubmit').attr('data-path-id');
            }
            $.ajax({
                type: "DELETE",
                url: url,
                headers: {'Authorization': 'Bearer internal', 'Accept': "application/ld+json"},
                success: function () {
                    {% if (reloadDelete is defined and reloadDelete) %}
                    if (table.data().count() === 1) {
                        window.location.reload(true);
                    }
                    {% endif %}
                    {% if reloadPage is defined and reloadPage %}
                    window.location.reload(true);
                    {% endif %}
                    table.ajax.reload();
                    toastr.success("{{ (form.vars.name~'.delete.success')|trans }}")
                },
                error: function (e) {
                    if (e.responseJSON !== undefined && e.responseJSON['hydra:description'] !== undefined) {
                        toastr.error(e.responseJSON['hydra:description']);
                    } else {
                        toastr.error("{{ (form.vars.name~'.delete.error')|trans }}")
                    }
                }
            });
        });
    });
</script>
