<div class="modal fade" id="staticAddEntity" data-backdrop="static" tabindex="" role="dialog"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">{{ (form.vars.name~'.add.action')|trans }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ form(form, {'attr': {'id': 'formEntityAdd'}}) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'close'|trans }}</button>
                <button type="button" class="btn btn-primary" id="btnSubmitAdd">{{ 'save'|trans }}</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        // Form submission
        $('#btnSubmitAdd').click(function () {

            if ($('#formEntityAdd').valid()) {

                // Disable btn to avoid multiple submit
                $('#btnSubmitAdd').addClass('disabled').attr('disabled', 'disabled');

                // Retrieve entity
                var entity = {};
                $.each($('#formEntityAdd').find(":input:not([type='search'])"), function (key, val) {
                    let values = $(this).val();
                    let name = val.name.match(/\[([a-zA-Z0-9_]+)\](\[\])?/m);
                    if ($.isArray(values)) {
                        for (let i = 0; i < values.length; i++) {
                            let value = '';
                            if (val.value) {
                                value = (isNaN(values[i]) ? values[i] : Number(values[i]));
                            }
                            if (name) {
                                if (!entity.hasOwnProperty(name[1])) entity[name[1]] = [];
                                if (name[2] !== undefined) {
                                    entity[name[1]].push(value);
                                } else { // Set null for non multiple select with empty value
                                    entity[name[1]] = ($(this)[0].nodeName.toLowerCase() === 'select' && value === '') ? null : value;
                                }
                            }
                        }
                    } else {
                        if (($(this).attr('type') === 'number' || $(this).attr('data-type') === 'number') && values !== '') {
                            values = Number(values);
                        }
                        entity[name[1]] = (($(this).attr('type') === 'date' || $(this)[0].nodeName.toLowerCase() === 'select') && values === '') ? null : values;
                    }

                    if(values == null || values === ''){
                        entity[name[1]] = null;
                    }
                });

                // Particular case for checkboxes
                $.each($('#formEntityAdd input:checkbox'), function () {
                    var name = this.name.match(/\[([a-zA-Z0-9_]+)\]/m);
                    if (name) {
                        entity[name[1]] = this.checked;
                    }
                });
                $.ajax({
                    type: "POST",
                    url: "{{ path('api_'~api_path~'s_post_collection') }}",
                    headers: {'Authorization': 'Bearer internal', 'Content-type': "application/ld+json"},
                    data: JSON.stringify(entity),
                    dataType: 'json',
                    success: function () {
                        toastr.success("{{ (form.vars.name~'.add.success')|trans }}");
                        $('#datatable').DataTable().ajax.reload(); // Reload datatable
                        $('#formEntityAdd').trigger('reset'); // Reset form values
                        $('#btnSubmitAdd').removeClass('disabled').removeAttr('disabled');
                        $('#staticAddEntity').modal('hide');
                        {% if reloadPage is defined and reloadPage %}
                        window.location.reload(true);
                        {% endif %}
                    },
                    error: function (e) {
                        if (e.responseJSON !== undefined && e.responseJSON['hydra:description'] !== undefined) {
                            toastr.error(e.responseJSON['hydra:description']);
                        }
                        if(e.responseJSON !== undefined && e.responseJSON['detail'] !== undefined){
                            toastr.error(e.responseJSON['detail']);
                        }else {
                            toastr.error("{{ (form.vars.name~'.add.error')|trans }}");
                        }
                        $('#btnSubmitAdd').removeClass('disabled').removeAttr('disabled');
                        $('#staticaddEntity').modal('show');
                    }
                });
            }
        });
        $('select.select2').each(function () {
            let options = {};
            if ($(this).attr('data-max-selection')) {
                options['maximumSelectionLength'] = $(this).attr('data-max-selection');
            }
            $(this).select2(options);
        });
        $('[data-mask]').inputmask();
        $('.datetimepicker').datetimepicker();
        $("input[data-trigger-display]").each(triggerDisplay).change(triggerDisplay);


    });
</script>