<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Prodige Admin{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.0em%22 font-size=%2296%22>⚫️</text></svg>">
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{{ asset('plugins/fontawesome-free/css/all.min.css') }}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{{ asset('dist/css/adminlte.min.css') }}">
    <!-- Custom Prodige -->
    <link rel="stylesheet" href="{{ asset('css/prodige_custom.css') }}">

    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
    <!-- jQuery -->
    <script src="{{ asset('plugins/jquery/jquery.min.js') }}"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="{{ asset('plugins/jquery-ui/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('plugins/jquery-validation/jquery.validate.min.js') }}"></script>
    <script src="{{ asset('plugins/select2/js/i18n/'~app.request.locale~'.js') }}"></script>
    <!-- Custom Prodige -->
    <script src="{{ asset('js/prodige_custom.js') }}"></script>
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
</head>
<body class="hold-transition login-page">
<div class="login-box">
    <div class="card card-outline card-primary">
        <div class="card-header text-center">
            <h1>{{ 'Password recovery' | trans }}</h1>
        </div>
        <div class="card-body">
            {% if (status is same as(false)) %}
                <p class="login-box-msg">
                    {{ 'You forgot your password? Here you can easily retrieve a new password.' | trans }}
                </p>
                {{ form_start(form, {'attr' : {'id' : 'form'}}) }}
                <div class="input-group mb-3">
                    {{ form_errors(form) }}
                    {{ form_widget(form.login) }}
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-user"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    {{ form_widget(form.email) }}
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-at"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    {{ form_widget(form.captcha) }}
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button type="submit" id="btnSubmit"
                                class="btn btn-primary btn-block">{{ 'New password request' | trans }}
                        </button>
                    </div>
                </div>
                {{ form_end(form) }}
            {% else %}
                <p class="login-box-msg">
                    {{ 'We have sent a link to change your password by email at ' | trans }} {{ email }}.
                <hr/>
                {{ 'Please note that link will expire within 5 min.' | trans }}<br/>
                {{ 'After 5 min, you must submit a new password reset request.' | trans }}
                </p>
            {% endif %}

        </div>
    </div>
</div>
</body>
</html>
