{% extends 'base.html.twig' %}

{% block body %}
    <script type="text/javascript">
        var columns = [
            {title: "{{ 'Title'|trans }}", name: "title", data: "title"},
            {title: "{{ 'Description'|trans }}", name: "description", data: "description"},
        ];
    </script>
    {% set addBtn, editBtn, delBtn = true, true, true %}
    {% set content_type = 'multipart/form-data' %}
    {% if (api_path is  not defined) %}
        {% set api_path = form.vars.name %}
    {% endif %}
    <div class="col-12">
        <div class="card card-{% if card_color is defined %}{{ card_color|raw }}{% else %}lightblue{% endif %} card-outline">
            <div class="card-header">
                <div class="float-left">
                    <h5>
                        {% if title_prefix is defined %}{{ title_prefix|trans|raw }}{% endif %}
                        {% if title is defined %}
                            {{ title|trans }}
                        {% else %}
                            {{ (form.vars.name~".list")|trans }}
                        {% endif %}
                        {% if title_suffix is defined %}{{ title_suffix|trans|raw }}{% endif %}
                    </h5>
                </div>
                {% if addBtn is defined and addBtn == 'true' %}
                    <div class="card-tools">
                        {% if nav_path is defined %}
                            <div id="returnBtn" class="float-left">
                                <a href="{{ nav_path }}"><i
                                            class="fas fa-angle-double-left"></i>{{ (form.vars.name~'.return')|trans }}</a>
                            </div>
                        {% endif %}
                        <button id="btnAddentity" type="button" class="btn btn-tool btn-default"
                                title="{{ (form.vars.name~".add.action")|trans }}"
                                data-toggle="modal"
                                data-target="#staticAddEntity">
                            {{ "add"|trans }}&nbsp;
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>
                {% endif %}
            </div>
            <div class="card-body">
                <table id="datatable" class="table table-sm table-bordered table-hover table-striped"></table>
            </div>
        </div>
    </div>
    <div class="modal fade" id="staticAddEntity" data-backdrop="static" tabindex="" role="dialog"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">{{ (form.vars.name~'.add.action')|trans }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ form(form, {'attr': {'id': 'formEntityAdd'}}) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'close'|trans }}</button>
                    <button type="button" class="btn btn-primary" id="btnSubmitAdd">{{ 'save'|trans }}</button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            // Form submission
            $('#btnSubmitAdd').click(function (e) {
                if ($('#formEntityAdd').valid()) {

                    // Disable btn to avoid multiple submit
                    $('#btnSubmitAdd').addClass('disabled').attr('disabled', 'disabled');

                    // Retrieve entity
                    var formData = new FormData();
                    $.each($('#formEntityAdd').find(":input:not([type='search'])"), function (key, val) {
                        let values = $(this).val();
                        let name = val.name.match(/\[([a-zA-Z0-9_]+)\](\[\])?/m);
                        if ($.isArray(values)) {
                            values.forEach((profile) => formData.append("profiles[]", profile));
                        } else {
                            if ($(this).attr('type') === 'file') {
                                formData.append('file', val.files[0])
                            } else {
                                if (($(this).attr('type') === 'number' || $(this).attr('data-type') === 'number') && values !== '') {
                                    values = Number(values);
                                }
                                formData.append(name[1], (($(this).attr('type') === 'date' || $(this)[0].nodeName.toLowerCase() === 'select') && values === '') ? null : values);
                            }
                        }
                    });

                    $.ajax({
                        type: "POST",
                        url: "{{ path('api_'~api_path~'s_post_collection') }}",
                        headers: {'Authorization': 'Bearer internal'},
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function (e) {
                            toastr.success("{{ (form.vars.name~'.add.success')|trans }}");
                            $('#datatable').DataTable().ajax.reload(); // Reload datatable
                            $('#formEntityAdd').trigger('reset'); // Reset form values
                            $('#btnSubmitAdd').removeClass('disabled').removeAttr('disabled');
                            $('#staticAddEntity').modal('hide');
                            {% if reloadPage is defined and reloadPage %}
                            window.location.reload(true);
                            {% endif %}
                        },
                        error: function (e) {
                            toastr.error("{{ (form.vars.name~'.add.error')|trans }}");
                            $('#btnSubmitAdd').removeClass('disabled').removeAttr('disabled');
                            $('#staticaddEntity').modal('show');
                        }
                    });
                }
            });
            $('select.select2').each(function () {
                let options = {};
                if ($(this).attr('data-max-selection')) {
                    options['maximumSelectionLength'] = $(this).attr('data-max-selection');
                }
                $(this).select2(options);
            });
            $('[data-mask]').inputmask();
            $('.datetimepicker').datetimepicker();
            $("input[data-trigger-display]").each(triggerDisplay).change(triggerDisplay);
        });
    </script>
    <div class="col-12" id="editArea"></div>

    {% include 'common/confirm_modal.html.twig' %}

    <script type="text/javascript">
        $(function () {

            // Initialize Datatable
            var btns = [];

            {% if editBtn is defined and editBtn %}
            btn = [
                {
                    orderable: false,
                    data: null,
                    width: 50,
                    render: function (data, type, row) {
                        return '<a type="button" title="{{ 'edit'|trans }}" class="btn btn-block btn-flat btnEdit"><i class="fa fa-edit green"></i></a>';
                    }
                }
            ];
            $.merge(btns, btn);
            {% endif %}

            {% if delBtn is defined and delBtn %}
            btn = [
                {
                    orderable: false,
                    data: null,
                    width: 50,
                    render: function (data, type, row) {
                        var button;
                        if (data.hasOwnProperty('canDelete') && !data.canDelete) {
                            button = '<a type="button" title="{{ 'delete'|trans }}" class="btn btn-block btn-flat btnDelete disabled"><i class="fa fa-trash-alt light-grey"></i></a>'
                        } else {
                            button = '<a type="button" title="{{ 'delete'|trans }}" class="btn btn-block btn-flat btnDelete"><i class="fa fa-trash-alt red"></i></a>';
                        }
                        return button;
                    }
                }
            ];
            $.merge(btns, btn);
            {% endif %}

            $.merge(columns, btns);
            var table = $('#datatable').DataTable({
                paging: true,
                lengthChange: false,
                searching: true,
                search: {'search': getUrlParameter('search')}, //Autofill search if set in url param
                ordering: true,
                info: true,
                autoWidth: false,
                responsive: true,
                processing: true,
                serverSide: true,
                columns: columns,
                {% if actionBtn is defined and actionBtn %}
                columnDefs: [{width: 5, targets: [2]}],
                {% endif %}
                language: {url: "/i18n/datatable_" + getLanguage() + ".json"},
                ajax: {
                    url: '{{ path('api_'~api_path~'s_get_collection' ) }}',
                    headers: {'Authorization': 'Bearer internal', 'Accept': "application/ld+json"},
                    beforeSend: function (request) {
                        // Default properties
                        this.url = '{{ path('api_'~api_path~'s_get_collection') }}?{{ api_filter|raw }}';
                        var filter = $('.dataTables_filter input').val();

                        // Default Sort
                        var sort = '&order[' + columns[0].name + ']=asc';

                        if (table instanceof Object) {
                            // Add Order
                            sort = '&order[' + columns[table.context[0].aaSorting[0][0]].name + ']=' + table.context[0].aaSorting[0][1];
                            if (filter !== "") {
                                // Add filter
                                this.url += '&search=' + filter;
                            }
                            // Add pagination
                            this.url += '&page=' + (table.page.info().page + 1);
                        }
                        this.url += sort;
                    },
                    dataFilter: function (data) {
                        var json = JSON.parse(data);
                        json.recordTotal = json['hydra:totalItems'];
                        json.recordsFiltered = json['hydra:totalItems'];
                        json.data = json['hydra:member'];
                        return JSON.stringify(json);
                    }
                },
                {% if datatableOptions is defined %}
                {{ datatableOptions|raw }}
                {% endif %}
            });

            // Get entity form
            $('#datatable tbody').on('click', 'td .btnEdit', function () {
                let entity = table.row($(this).closest('tr')).data();
                let btn = $(this);

                // Avoid multiple btn click event
                btn.addClass('disabled');

                $.ajax({
                    type: "GET",
                    url: "{{ form.vars.name }}/edit/" + entity.id,
                    success: function (e) {
                        $('#editArea').html(e);
                        {% if id is not defined %}{% set id = 'id' %}{% endif %}
                        $('#btnSubmitEdit').attr('data-{{ id }}', entity.{{ id }});
                        $("input[data-trigger-active]").each(triggerActive).change(triggerActive);
                        $("input[data-trigger-display]").each(triggerDisplay).change(triggerDisplay);
                        $('#staticEditEntity').modal('show');
                        $('select.select2').each(function () {
                            let options = {};
                            if ($(this).attr('data-max-selection')) {
                                options['maximumSelectionLength'] = $(this).attr('data-max-selection');
                            }
                            $(this).select2(options);
                        });
                        $('[data-mask]').inputmask();
                        btn.removeClass('disabled');
                    },
                    error: function ($e) {
                        toastr.error("{{ (form.vars.name~".loading.error")|trans }}")
                        btn.removeClass('disabled');
                    }
                });
            });

            // Delete Confirm modal
            $('#datatable tbody').on('click', 'td .btnDelete', function () {
                let entity = table.row($(this).closest('tr')).data();
                if (entity.id !== undefined) {
                    {% if id is not defined %}{% set id = 'id' %}{% endif %}
                    $('#modalConfirm .modalConfigSubmit').attr('data-{{ id }}', entity.{{ id }}).removeAttr('data-path-id');
                } else {
                    $('#modalConfirm .modalConfigSubmit').attr('data-path-id', entity['@id']).removeAttr('data-id');
                }
                $('#modalConfirm .modal-title').html('{{ 'delete_modal'|trans }}');
                $('#modalConfirm .modalConfigSubmit').attr('data-name', entity.name);
                let name = (entity.name !== undefined ? entity.name : '')
                if (entity.hasOwnProperty('firstName')) {
                    name = entity.firstName + ' ' + name;
                }
                $('#modalConfirm .modal-body').html('{{ (form.vars.name~'.delete.confirm') |trans }} <b>' + name + '</b> ?');
                $('#modalConfirm').modal('show');
            });

            // Delete entity
            $('#modalConfirm .modalConfigSubmit').on('click', function () {
                $('#modalConfirm').modal('hide');
                {% if id is not defined %}{% set id = 'id' %}{% endif %}
                let url = "{{ path('api_'~api_path~'s_get_collection') }}/" + $('#modalConfirm .modalConfigSubmit').attr('data-{{ id }}');
                if ($('#modalConfirm .modalConfigSubmit').attr('data-path-id') !== undefined) {
                    url = $('#modalConfirm .modalConfigSubmit').attr('data-path-id');
                }
                $.ajax({
                    type: "DELETE",
                    url: url,
                    headers: {'Authorization': 'Bearer internal', 'Accept': "application/ld+json"},
                    success: function ($e) {
                        {% if (reloadDelete is defined and reloadDelete) %}
                        if (table.data().count() === 1) {
                            window.location.reload(true);
                        }
                        {% endif %}
                        table.ajax.reload();
                        toastr.success("{{ (form.vars.name~'.delete.success')|trans }}")
                    },
                    error: function ($e) {
                        toastr.error("{{ (form.vars.name~'.delete.error')|trans }}")
                    }
                });
            });
        });
    </script>
{% endblock %}
