{% extends 'base.html.twig' %}

{% block body %}
    <script type="text/javascript">
        var columns = [
            {title: "{{ 'Name'|trans }}", name: "name", data: "name"},
            {title: "{{ 'Description'|trans }}", name: "description", data: "description"},
            {title: "{{ 'Format'|trans }}", name: "format", data: "lexMapFormat.name"},
            {title: "{{ 'Path'|trans }}", name: "path", data: "path"},
            {
                title: "{{ 'State'|trans }}",
                orderable: true,
                width: 80,
                className: 'dt-body-center dt-head-center',
                data: "state",
                render: function (data, type, row) {
                    return ((data === 'false') ? "{{ 'Pending'|trans }}" : "{{ 'Proposed'|trans }}");
                }
            }
        ];
    </script>
    {% include 'common/entity_list.html.twig' %}
{% endblock %}