{% extends 'base.html.twig' %}

{% block body %}
    <script type="text/javascript">
        var columns = [
            {title: "{{ 'Name'|trans }}", name: "name", data: "name"},
            {
                title: "{{ 'Domain'|trans }}",
                name: "domain",
                data: "domain.name",
                orderable: false,
                render: function (data, type, row) {
                    if (row.hasOwnProperty('name')) {
                        return '<a href="{{ path('domain_list') }}?search=' + data + '">' + data + '</a>';
                    }
                }
            }
        ];
    </script>
    {% set addBtn, editBtn, delBtn = true, true, true %}
    {% include 'common/entity_list.html.twig' %}
{% endblock %}