{% extends 'base.html.twig' %}

{% block body %}
    <script type="text/javascript">
        var columns = [
            {title: "{{ 'Name'|trans }}", name: "name", data: "name"},
            {title: "{{ 'Code'|trans }}", name: "code", data: "code"},
            {
                title: "{{ 'Zoning'|trans }}",
                name: "zoning",
                data: "zoning.name",
                render: function (data, type, row) {
                    if (row.hasOwnProperty('name')) {
                        return '<a href="{{ path('zoning_list') }}?search=' + data + '">' + data + '</a>';
                    }
                }
            }
        ];
    </script>
    {% include 'common/entity_list.html.twig' %}
{% endblock %}