{% extends 'base.html.twig' %}

{% block body %}
    <script type="text/javascript">
        var columns = [
            {title: "{{ 'Name'|trans }}", name: "name", data: "name"},
            {
                title: "{{ 'Domains'|trans }}",
                orderable: false,
                width: 80,
                className: 'dt-body-center dt-head-center',
                data: "countDomain",
                render: function (data, type, row) {
                    if (row.hasOwnProperty('name')) {
                        return '<a href="{{ path('domain_list') }}?search='+row.name+'">'+data+'</a>';
                    }
                }
            }
        ];
    </script>
    {% set addBtn, editBtn, delBtn = true, true, true %}
    {% include 'common/entity_list.html.twig' %}
{% endblock %}