{% extends 'base.html.twig' %}

{% block body %}
    <script type="text/javascript">
        var columns = [
            {title: "{{ 'Name'|trans }}", name: "name", data: "name"},
            {title: "{{ 'Mapfile'|trans }}", name: "mapfile", data: "mapfile"},
            {
                title: "{{ 'Type'|trans }}",
                name: "lexTemplateType",
                orderable: false,
                data: "lexTemplateType.name"
            },
            {
                orderable: false,
                data: "uuid",
                width: 50,
                render: function (data, type, row) {
                    return '<a type="button" target="_blank" href="{{ admincarto_url }}' + data + '" title="{{ 'edit'|trans }}" class="btn btn-block btn-flat"><i class="fas fa-external-link-alt green"></i></a>';
                }
            },
        ];
    </script>
    {% set addBtn, delBtn = true, true %}
    {% include 'common/entity_list.html.twig' %}
{% endblock %}