<div class="col-12">
    <div class="card card-{% if card_color is defined %}{{ card_color|raw }}{% else %}lightblue{% endif %} card-outline">
        <div class="card-header">
            <div class="float-left">
                <h5>{% trans %}Configuring datahub interface{% endtrans %} </h5>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    {{ form(form, {'attr': {'id': 'formSettings'}}) }}
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {

        $('select.select2').select2();

        $('#formSettings :input').change(function (e) {
            let type = $(this).attr('type');
            let id = $(this).attr('data-id');
            let element = $(this);
            let valid_class = 'is-valid';
            let error_class = 'is-invalid'
            if (type === 'checkbox') {
                element = $("label[for='" + $(this).attr('id') + "']");
                valid_class = 'green';
                error_class = 'red';
            }
            let entity = {'id': id};
            entity['value'] = ((type === 'checkbox' && this.checked) || type !== 'checkbox') ? $(this).val() : '0';

            // To keep existing on/off values we add particular unchecked value case for checkboxes
            if (type === 'checkbox' && $(this).attr('data-unchecked') !== undefined && !this.checked) {
                entity['value'] = $(this).attr('data-unchecked');
            }

            // Transform value in string
            if (Array.isArray(entity['value'])) {
                entity['value'] = entity['value'].join(',');
            }

            $.ajax({
                type: "PATCH",
                url: "{{ path('api_datahub_settings_get_collection') }}/" + id,
                headers: {'Authorization': 'Bearer internal', 'Content-type': "application/merge-patch+json"},
                data: JSON.stringify(entity),
                dataType: 'json',
                success: function (e) {
                    toastr.success("{{ 'setting.update.success'|trans }}");
                    element.addClass(valid_class);
                    setTimeout(function () {
                        element.removeClass(valid_class);
                    }, 2000);
                },
                error: function (e) {
                    toastr.error("{{ 'setting.update.error'|trans }}");
                    element.addClass(error_class);
                    setTimeout(function () {
                        element.removeClass(error_class);
                    }, 2000);
                }
            });
        });
    });
</script>