{% extends 'base.html.twig' %}

{% block body %}
    <script type="text/javascript">
        var columns = [
            {title: "{{ 'Name'|trans }}", name: "name", data: "name"},
            {
                title: "{{ 'Filter'|trans }}",
                name: "filter", data: "filter"
            }
        ];
    </script>
    {% set addBtn, editBtn, delBtn = true, true, true %}
    {% include 'common/entity_list.html.twig' %}
{% endblock %}