{% include 'header.html.twig' %}

<!-- Main Sidebar Container -->
{% include 'nav.html.twig' %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <section class="content-header"></section>
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div id="notifMessage" data-message="{{ message | default('') }}" data-error="{{ error | default('') }}"></div>
                    {% block body %}{% endblock %}
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    {% block footer_js %}{% endblock %}

{% include 'footer.html.twig' %}