</div><!-- ./wrapper -->

<!-- Bootstrap 4 -->
<script src="{{ asset('plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<!-- AdminLTE App -->
<script src="{{ asset('dist/js/adminlte.js') }}"></script>
<script type="text/javascript">
    {% if (nav_path is not defined) %}
        {% set nav_path = app.request.pathinfo %}
    {% endif %}
    $("a[href='{{ nav_path }}']").addClass('active').parents(':eq(2)').addClass('menu-open');
    if($("a[href='{{ nav_path }}']").parents(':eq(2)').find('a:first').attr('href') === '#') {
        $("a[href='{{ nav_path }}']").parents(':eq(2)').addClass('active');
    }
</script>
</body>
</html>