{% set route_name = app.request.attributes.get('_route') %}
<!--suppress JSCheckFunctionSignatures -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="#" class="brand-link">
        <img src="{{ asset('dist/img/logo.png') }}" alt="Prodige Logo" class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">Admin Prodige</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-flat nav-sidebar nav-child-indent flex-column" data-widget="treeview"
                role="menu" data-accordion="false">
                <li class="nav-header">Configuration</li>
                <li class="nav-item">
                    <a href="{{ path('module_list') }}" class="nav-link">
                        <i class="nav-icon fas fa-cubes"></i>
                        <p>Modules</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-book"></i>
                        <p>Catalogue<i class="fas fa-angle-left right"></i></p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{{ path('catalogue_config') }}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Paramétrages</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-book"></i>
                        <p>Datahub<i class="fas fa-angle-left right"></i></p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{{ path('datahub_config') }}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Paramétrages</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('datahub_keyword_list') }}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Mots clés</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-cog"></i>
                        <p>Systèmes de projection<i class="fas fa-angle-left right"></i></p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{{ path('projection_list') }}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Gestion des projections</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('projection_config') }}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Configuration</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-rss"></i>
                        <p>Services OGC<i class="fas fa-angle-left right"></i></p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{{ path('wms_config') }}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>WMS</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('wfs_config') }}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>WFS</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('wmts_grid_list') }}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>WMTS</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('atom_config') }}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>ATOM</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('ogcapi_config') }}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>OGCAPI</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon far fa-eye"></i>
                        <p>Visualiseur<i class="fas fa-angle-left right"></i></p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{{ path('viewer_list') }}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Modèles de cartes</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('viewer_engine') }}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Moteur de recherche</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('viewer_config') }}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Configuration</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-download"></i>
                        <p>Téléchargements<i class="fas fa-angle-left right"></i></p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{{ path('download_engine') }}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Territoires d'extraction</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('download_list') }}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>File d'attente</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('download_config') }}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Configuration</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="{{ path('log_list') }}" class="nav-link">
                        <i class="nav-icon fas fa-copy"></i>
                        <p>Journaux</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('help_list') }}" class="nav-link">
                        <i class="nav-icon fa fa-info-circle"></i>
                        <p>Aide</p>
                    </a>
                </li>
                <li class="nav-header">Administration</li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-sitemap"></i>
                        <p>Organisation<i class="fas fa-angle-left right"></i></p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{{ path('rubric_list') }}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Rubriques</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('domain_list') }}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Domaines</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('subdomain_list') }}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Sous-domaines</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-address-book"></i>
                        <p>Annuaire<i class="fas fa-angle-left right"></i></p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{{ path('user_list') }}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Utilisateurs</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('structure_list') }}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Structures</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('profile_list') }}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Profils</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('skill_list') }}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Compétences</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('zoning_list') }}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Zonages</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('area_list') }}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Territoires</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-box-open"></i>
                        <p>Ressources<i class="fas fa-angle-left right"></i></p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{{ path('data_list') }}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Données</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('data_object_list') }}" class="nav-link">
                                <i class="fas fa-caret-right nav-icon"></i>
                                <p>Gestions à l'objet</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('data_attribute_list') }}" class="nav-link">
                                <i class="fas fa-caret-right nav-icon"></i>
                                <p>Gestions attributaires</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('map_list') }}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Cartes</p>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
        <div class="fixed-bottom">
            {% if  version is defined %}
                <p id="version">Version : {{ version }}</p>
            {% endif %}
        </div>
    </div>
    <!-- /.sidebar -->
</aside>
